#flink_footer
  .container
    %ul.list-inline.pull-left
      %li#terms= link_to("terms", '/terms')
    %ul.list-inline.pull-left
      %li
        = link_to "http://www.instagram.com/flinkHQ" do
          .social-image#instagram-image
      %li
        = link_to "https://twitter.com/flinkHQ" do
          .social-image#twitter-image
      %li
        = link_to "http://www.facebook.com/flinkHQ" do
          .social-image#facebook-image
      %li
        = link_to "mailto:hello@flink.io" do
          .social-image#email-image