<section class="header">
  <header>
    <h1>Commentaires</h1>
  </header>
</section>

<div id="reply">
  <span id="close-reply">X</span>
  <%= form_for [:admin, Comment.new], url:admin_comment_reply_path(0) do |f| %>
    <%= f.text_area :body %>
    <br/>
    <%= f.submit "Envoyer", class:"btn"%>
  <% end %>
</div>
<div class="counts">
  <p><%= Comment.count %> Commentaires</p>
  <p><%= Comment.posted.count %> Commentaires postés</p>
</div>

<%= will_paginate @comments %>

<table class="comments-list">
  <thead>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to (comment.flinker.username || comment.flinker.name), admin_flinker_path(comment.flinker) %></td>
        <td><p class="comment-body"><%= truncate(comment.body, length: 150) %></p></td>
        <td><%= link_to comment.look.name, admin_look_path(comment.look) %></td>
        <td><%= I18n.l(comment.created_at, format: :short)%></td>
        <td><%= link_to 'Répondre', "#reply", 
                        class:"reply-link", 
                        'data-username' => comment.flinker.username,
                        'data-comment-id' => comment.id %>
        </td>
      </tr>
    <% end  %>
  </tbody>
</table>

<%= will_paginate @comments %>
