%section.header
  %header
    %h1 Events
    %h2 Buttons views and clicks

.container-fluid
  .row-fluid
    .span2
      %article.coolbox
        %h3 Time period
        %input.input-small.filter-option#date-start{type:"text",value:"#{@date_start.strftime("%Y-%m-%d")}"}
        %input.input-small.filter-option#date-end{type:"text",value:"#{@date_end.strftime("%Y-%m-%d")}"}
      %article.coolbox
        %h3 Developer filter
        %select.input-medium.filter-option#developer
          %option{value:""} All
          - Developer.order(:name).each do |dev|
            %option{value:"#{dev.id}"}
              = dev.name
      %article.coolbox
        %h3 Tracker filter
        %input.input-medium.filter-option#tracker{type:"text"}
    .span10
      %article.coolbox
        %h3 Events graph
        #eventsChart
  .row-fluid
    .span12
      %article.coolbox
        %h3 Events list
        %table.table.table-striped#events{data:{source:"#{admin_events_url(format: 'json')}"}}
          %thead
            %tr
              %th Developer
              %th Tracker
              %th Views
              %th Clicks
              %th Users
              %th Guests
              %th Follows
              %th Orders
          %tbody  