%h2= t('.sign_up', :default => "Sign up")

= simple_form_for(resource, :as => resource_name, :url => user_registration_path, :validate => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name, :required => true, :autofocus => true
    = f.input :last_name, :required => true
    = f.input :email, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    = f.button :submit, t('.sign_up', :default => "Sign up"), class:'btn-success btn-large'

= render "devise/shared/links"

