/ .span3.look-product-box.look-product-monitor{data:{pid:"#{look_product.product_id}",lpid:"#{look_product.id}"}}
/   - if look_product.product.present? && look_product.product.versions_expired?
/     .look-product-spinner
/       .spinner
/   .look-product
/     - if look_product.product.present?
/       %img.look-product-img{src:"#{look_product.product.image_url}"}
/   .look-product-merchant= look_product.brand || look_product.product.merchant.name
/   .look-product-code= look_product.code
/   .look-product-info
/     - if look_product.product.present?
/       .look-product-price= "#{(look_product.product.price || 0).round} €"
/       .look-product-title= look_product.product.name || look_product.product.url
/     %button.btn.btn-success.btn-lg.look-product-details{data:{lpid:"#{look_product.id}"}}
/       %span.icon-info-sign.icon-white
/     %button.btn.btn-info.btn-lg.look-product-update{data:{lpid:"#{look_product.id}"}}
/       %span.icon-edit.icon-white
/     %button.btn.btn-danger.btn-lg.look-product-delete{data:{lpid:"#{look_product.id}"}}
/       %span.icon-trash.icon-white