<section class="header">
  <header>
    <h1>Staff Picks</h1>
  </header>
</section>

<div class="staff-picks">
  <ul class="anchors">
    <li><a href="#staff-picks-hashtags">Staff picked hashtags</a></li>
    <li><a href="#staff-picks-looks">Staff picked looks</a></li>
    <li><a href="#staff-picks-flinkers">Staff picked flinkers</a></li>
  </ul>
  
  <div class="block">
    <h4 id="staff-picks-hashtags">Highlighted Hashtags <span class="items-counter"><%= @hashtags.count %></span></h4>
    <table class="staff-picks-hashtags">
      <thead>
      </thead>
      <tbody>
        <% @hashtags.each do |hashtag| %>
          <% looks = HighlightedLook.looks_of_hashtag(hashtag) %>
          <tr>
            <td><span class="hashtag-name">#<%= hashtag.name %></span></td>
            <td><%= looks.uniq.count %></td>
            <td>
              <ul>
                <% looks.uniq.each do |look| %>
                  <li><%= link_to look.name, admin_look_path(look), target:'_blank', class:'look-link' %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>    
      </tbody>
    </table>
  </div>

  <div class="block">
    <h4 id="staff-picks-looks">Staff Picked Looks <span class="items-counter"><%= @looks.count %></span></h4>
    <ul class="looks-countries-counts">
      <% Look.staff_picked_countries.each do |record| %>
        <li><%= record.name %> : <%= record.count %></li>
      <% end %>
    </ul>
    <table class="staff-picks-looks">
      <thead>
      </thead>
      <tbody>
        <% @looks.each_with_index do |look, index| %>
          <tr>
            <td>
              <%= form_for([:admin, look]) do |f| %>
                <%= f.check_box :staff_pick, id: "staff-pick-#{index}", class: "staff-pick-unpick", :title => "Unpick" %>
              <% end %>
            </td>
            <td>Publié le <%= l(look.flink_published_at, format: :short)%></td>
            <td><%= link_to(look.flinker.username, admin_flinker_path(look.flinker)) %></td>
            <td><%= look.flinker.country.try(:name) %></td>
            <td>
              <%= link_to image_tag(look.image_for_cover.picture.url(:large)), admin_look_path(look) %></td>
          </tr>
        <% end %>    
      </tbody>
    </table>
  </div>

  <div class="block">
    <h4 id="staff-picks-flinkers">Staff Picked Flinkers <span class="items-counter"><%= @flinkers.count %></span></h4>
    <ul class="flinkers-countries-counts">
      <% Flinker.staff_picked_countries.each do |record| %>
        <li><%= record.name %> : <%= record.count %></li>
      <% end %>
    </ul>
    
    <table class="staff-picks-flinkers">
      <thead>
      </thead>
      <tbody>
        <% @flinkers.each do |flinker| %>
          <tr>
            <td><%= image_tag(flinker.avatar.url, class:'avatar') %></td>
            <td><%= link_to(flinker.username, admin_flinker_path(flinker)) %></td>
            <td><%= flinker.name %></td>
          
            <td><%= flinker.country.try(:name) %></td>
          </tr>
        <% end %>    
      </tbody>
    </table>
  </div>
</div>
