<ul class="navigation">
  <li><a href="#staff-picks-hashtags">Highlighted Hashtags</a></li>
  <li><a href="#staff-picks-looks">Staff Picked Looks</a></li>
  <li><a href="#staff-picks-flinkers">Staff Picked Flinkers </a></li>
</ul>

<h4 id="staff-picks-hashtags">Highlighted Hashtags (<%= @hashtags.count %>)</h4>
<table class="staff-picks-hashtags">
  <thead>
    <th>Hashtag</th>
    <th>Nombre de looks</th>
  </thead>
  <tbody>
    <% @hashtags.each do |hashtag| %>
      <tr>
        <td>#<%= hashtag.name %></td>
        <td><%= hashtag.looks.count %></td>
      </tr>
    <% end %>    
  </tbody>
</table>

<h4 id="staff-picks-looks">Staff Picked Looks (<%= @looks.count %>)</h4>
<table class="staff-picks-looks">
  <thead>
    <th>Publié le</th>
    <th>UUID</th>
    <th>Blogueuse</th>
    <th>Pays</th>
    <th>Aperçu</th>
    <th>Unpick</th>
  </thead>
  <tbody>
    <% @looks.each do |look| %>
      <tr>
        <td><%= look.uuid %></td>
        <td><%= l(look.flink_published_at)%></td>
        <td><%= link_to(look.flinker.username, admin_flinker_path(look.flinker)) %></td>
        <td><%= look.flinker.country.try(:iso) %></td>
        <td>
          <%= link_to image_tag(look.image_for_cover.picture.url(:large)), admin_look_path(look) %></td>
        <td><%= check_box_tag :staff_pick, "1", true, disabled:true %></td>
      </tr>
    <% end %>    
  </tbody>
</table>

<h4 id="staff-picks-flinkers">Staff Picked Flinkers (<%= @flinkers.count %>)</h4>
<table class="staff-picks-flinkers">
  <thead>
    <th>Blogueuse</th>
    <th>Pays</th>
    <th>Unpick</th>
  </thead>
  <tbody>
    <% @flinkers.each do |flinker| %>
      <tr>
        <td><%= link_to(flinker.username, admin_flinker_path(flinker)) %></td>
        <td><%= flinker.country.try(:iso) %></td>
        <td><%= check_box_tag :staff_pick, "1", true, disabled:true  %></td>
      </tr>
    <% end %>    
  </tbody>
</table>
