= form_for([:admin,:georges,@device,Message.new], remote: true, :html => { :id => 'message_form' }) do |f|
  = f.text_area :content , autofocus: "", placeholder: "Type your message?", type: "text" , rows: 4, required:true
  = f.hidden_field :collection_uuid
  .spacer20
  = f.submit "Send", :class => 'button-flat-empty'
  .spacer20
  %hr
  .spacer20
  = link_to admin_georges_device_messages_collection_builder_path(@device), :remote => true do
    .button-flat-empty
      Add Collection
  = f.hidden_field :gift_card ,{value: 0}
  #gift-card-button.button-flat-empty Send Gift Card
  -#.button-flat-empty Noter l'app

:javascript
  var giftCardButton = $('#gift-card-button')
  giftCardButton.click(function(){
    var giftCard = $("#message_gift_card")
    var value = giftCard.val()
    if(value == "0") {
       giftCardButton.addClass("button-flat-empty-inverse-success")
       giftCard.val(1);
       if ($('#message_content').val() == '') {
         $('#message_content').val("Afin de mieux vous servir, merci de répondre à ces trois questions.");
       }
    } else {
       giftCardButton.removeClass("button-flat-empty-inverse-success")
       giftCard.val(0);
    }
  })

