= simple_form_for [:admin,:georges,@device,Message.new], remote:true do |f|
  = f.input :content,label:false , :input_html => { :rows => 3 ,:class => "span5"}
  %label.checkbox
    %input.checkbox{type:"checkbox",id:"data-checkbox", checked:false} send product urls
  = f.input :products_urls,:as => :text, label:false, placeholder:"Product Urls" , :input_html => { :rows => 5, :class => "span5" }
  .row
    #products
  = f.button :submit, "Validate", :class => 'btn-success btn-large'
  %button.pull-right.btn.btn-danger.btn-large End Conversation

%button.btn.btn-large.btn-info#checkurls Check urls

:javascript
  $('#checkurls').on('click', function(e) {
    $.ajax({
      url: '#{admin_georges_device_messages_check_path(@device)}',
      data: { "urls":$('#message_products_urls').val() },
      dataType: "script"
    });
  });
