= form_for([:admin,:georges,@device,Message.new], remote: true, :html => { :id => 'message_form' }) do |f|
  = f.text_area :content , placeholder: "Type your message?", type: "text" , rows: 4
  = f.hidden_field :collection_uuid
  .spacer20
  = f.submit "Send", :class => 'button-flat-empty'
  .spacer20
  %hr
  .spacer20
  = link_to admin_georges_device_messages_collection_builder_path(@device), :remote => true do
    .button-flat-empty
      Add Collection
  = f.hidden_field :gift_card ,{value: 0}
  #gift-card-button.button-flat-empty Survey
  = f.hidden_field :rating_card ,{value: 0}
  #rating-card-button.button-flat-empty Rating
  - if @device.pending_answer?
    = link_to end_admin_georges_device_path(@device), :remote => true do
      .button-flat-empty
        End

:javascript
  var giftCardButton = $('#gift-card-button')
  giftCardButton.click(function(){
    var giftCard = $("#message_gift_card")
    var value = giftCard.val()
    if(value == "0") {
       giftCardButton.addClass("button-flat-empty-inverse-success")
       giftCard.val(1);
       if ($('#message_content').val() == '') {
         $('#message_content').val("Afin de mieux vous servir, merci de répondre à ces trois questions.");
       }
    } else {
       giftCardButton.removeClass("button-flat-empty-inverse-success")
       giftCard.val(0);
    }
  })
  var ratingCardButton = $('#rating-card-button')
  ratingCardButton.click(function(){
    var ratingCard = $("#message_rating_card")
    var value = ratingCard.val()
    if(value == "0") {
       ratingCardButton.addClass("button-flat-empty-inverse-success")
       ratingCard.val(1);
    } else {
       ratingCardButton.removeClass("button-flat-empty-inverse-success")
       ratingCard.val(0);
    }
  })

  var formHeight = $(window).height() - $('#message_form').outerHeight() - $('#chat-header').outerHeight() - $('.navbar').outerHeight();
  $('.chat-history').css("height", formHeight)

