- if message.from_admin
  .chat-message.admin.clearfix{"data-message-id" => "#{message.id}"}
    = image_tag("admin/georges/messages/logo-georges.png", height: "32", width:"32")
    .chat-message-content.clearfix
      %span.chat-time#read_at
        - if message.read_at
          Read #{distance_of_time_in_words_to_now message.read_at} ago
        - else
          Sent #{distance_of_time_in_words_to_now message.created_at} ago
      %h5 Georges
      %p
        = message.content
        %p#gift_card
          %span.label.label-info#gender= message.gift_gender
          %span.label.label-info#age= message.gift_age
          %span.label.label-info#budget= message.gift_budget
        - if message.rating.present?
          %p#review_card
            %span.label.label-success#rating= message.rating == 0 ? "Pending rating" : "Rating: #{message.rating}"
      %span.chat-time
        - if message.collection_uuid && !message.collection_uuid.empty?
          collection = Collection.find_by_uuid(message.collection_uuid)
          if collection.present?
            = link_to("Collection n° " + message.collection_uuid, edit_admin_collection_path(collection), target: '_blank' )

- else
  .chat-message.clearfix{data:{id:"#{message.id}"}}
    %img{alt: "", height: "32", src: "http://lorempixum.com/32/32/people", width: "32"}
      .chat-message-content.clearfix
        %span.chat-time
          Sent #{distance_of_time_in_words_to_now message.created_at} ago
        %h5
          - if message.device.user
            #{message.device.user.first_name}
          - else
            Device ID : #{message.device.id}
        %p.chat-message-search
          = link_to admin_georges_device_messages_collection_builder_path(@device), :remote => true do
            - message.content

%hr
