<%= render 'meta.html.erb' %>
<%= render 'flink/menu.html'%>
<div class="detail-container">
  <div class="centered-container desktop-sized">
    <div class="detail-column">
      <div class="look-container" style="background-image: url(<%= @look.large_cover_url %>);"></div>
    </div>
    <div class="detail-column">
      <div class="look-title"><%= @look.name %></div>
      <div class="look-publisher"><%= link_to @look.flinker.name, @look.flinker.trackable_url, :target => "_blank" %></div>
      <div class="look-publication-date"><%= l(@look.published_at.to_date, format: :short) %></div>
      <% if @look.highlighted_hashtags.count > 0 %>
      <div class="look-hashtags">
        <% for hashtag in @look.highlighted_hashtags %>
        <div class="hashtag">#<%= hashtag.name %></div>
        <% end %>
      </div>
      <% end %>
      <%= render 'product_list.html.erb' %>
      <div class="stick-to-bottom-container">
        <div class="look-social">
          <div class="section-title float-left"><%= t('flink.share_this_look')%></div>
          <div class="look-social-items float-right">
            <%= render 'flink/share_list.html.erb' %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="separator"></div>
        <div class="look-buttons">
          <%= link_to @look.trackable_url, {target: "_blank"} do %>
            <div class="rounded-button-grey-tiny"><%= t('flink.see_original_article')%></div>
          <% end %>
          <%= link_to @look.app_deeplink_url, {target: "_blank"} do %>
            <div class="rounded-button-pink-tiny"><%= t('flink.view_on_flink_app')%></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="suggestions-container">
  <div class="centered-container desktop-sized">
    <div class="suggestions-column">
      <div class="section-title"><%= t('flink.more_from_this_blogger')%></div>
      <% for look in Look.random(4, @look.flinker, @look) %>
        <%= link_to flink_looks_path(look.friendly_id) do %>
          <div class="suggestions-look" style="background-image: url(<%= look.cover_url %>);"></div>
        <% end %>
      <% end %>
    </div>
    <div class="suggestions-column">
      <div class="section-title"><%= t('flink.also_hot_on_flink')%></div>
      <% for look in Look.random(4, nil, @look) %>
        <%= link_to flink_looks_path(look.friendly_id) do %>
          <div class="suggestions-look" style="background-image: url(<%= look.cover_url %>);"></div>
        <% end %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>