<%= render 'meta.html.erb' %>
<%= render 'flink/menu.mobile.html.erb' %>
<div class="container">
  <div class="look-container" style="background-image: url(<%= @look.large_cover_url %>);"></div>
  <div class="look-title"><%= @look.name %></div>
  <div class="look-publisher"><%= link_to @look.flinker.name, @look.flinker.trackable_url, :target => "_blank" %></div>
  <div class="look-publication-date"><%= l(@look.published_at.to_date, format: :short) %></div>
  <% if @look.highlighted_hashtags.count > 0 %>
    <div class="look-hashtags">
      <% for hashtag in @look.highlighted_hashtags %>
        <div class="hashtag">#<%= hashtag.name %></div>
      <% end %>
    </div>
  <% end %>
  <% if @look.look_products.count > 0 %>
    <div class="look-products">
      <div class="separator"></div>
      <div class="section-title"><%= t('flink.product_list')%></div>
      <div class="look-products-container">
        <% for product in @look.look_products %>
          <div class="look-product">
            <div class="look-product-name">
              <%= [:en, :fr].map { |locale| t("flink.products.#{product.code}", :locale => locale) }.join("/") %>
            </div>
            <div class="look-product-brand"><%= product.brand %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="look-social">
    <div class="section-title float-left"><%= t('flink.share_this_look')%></div>
    <div class="look-social-items float-right">
      <%= render 'flink/share_list.html.erb' %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="separator"></div>
  <div class="look-buttons">
    <%= link_to @look.trackable_url, {target: "_blank"} do %>
      <div class="rounded-button-grey-tiny"><%= t('flink.see_original_article')%></div>
    <% end %>
    <%= link_to @look.app_deeplink_url, {target: "_blank"} do %>
      <div class="rounded-button-pink-tiny"><%= t('flink.view_on_flink_app')%></div>
    <% end %>
  </div>
</div>
<%= render 'flink/footer.mobile.html.erb' %>