%section.header
  %header
    %h1 Dashboard
    %h2 All Shopelia stats

.container-fluid
  .row-fluid
    .span2
      .numberbox
        %span.number
          = number_with_delimiter(@stats[:users])
        %strong users
    .span2
      .numberbox
        %span.number
          = number_with_delimiter(@stats[:guests])
        %strong guests
    .span2
      .numberbox
        %span.number
          = number_with_delimiter(@stats[:orders])
        %strong orders
    .span2
      .numberbox
        %span.number
          = number_with_delimiter(@stats[:items])
        %strong products followed
    .span2
      .numberbox
        %span.number
          = number_with_delimiter(@stats[:developers])
        %strong developers
  .row-fluid
    .span3{style:"min-width:450px"}
      %article.coolbox{style:"height: 300px"}
        %h3 Events
        %ul.stat-boxes
          %li.popover-anchor
            .left.sparkline_line_good
              %span 
                = @stats[:button_views_sparklines]
            .right
              %strong 
                = number_with_delimiter(@stats[:button_current_month][Event::VIEW] || 0)
              Views this month
            .popover-data-content
              %span.content-big 
                = number_with_delimiter(@stats[:button_current_month][Event::VIEW] || 0)
              %span.content-small views
              %span.percentage
                = @stats[:button_current_month][Event::VIEW].to_f * 100 / (@stats[:button_last_month][Event::VIEW] || 1)
              %br
              %span.content-big 
                = number_with_delimiter(@stats[:button_current_month_unique][Event::VIEW] || 0)
              %span.content-small visitors
              %span.percentage
                = @stats[:button_current_month_unique][Event::VIEW].to_f * 100 / (@stats[:button_last_month_unique][Event::VIEW] || 1)
              %hr
              %span.content-big 
                = number_with_delimiter(@stats[:button_last_month][Event::VIEW] || 0)
              %span.content-small views last month, day to date
              %br
              %span.content-big 
                = number_with_delimiter(@stats[:button_last_month_unique][Event::VIEW] || 0)
              %span.content-small visitors last month, day to date
          %li.popover-anchor
            .left.sparkline_line_good
              %span 
                = @stats[:button_clicks_sparklines]
            .right
              %strong 
                = number_with_delimiter(@stats[:button_current_month][Event::CLICK] || 0)
              Clicks this month
            .popover-data-content
              %span.content-big 
                = number_with_delimiter(@stats[:button_current_month][Event::CLICK] || 0)
              %span.content-small clicks
              %span.percentage
                = @stats[:button_current_month][Event::CLICK].to_f * 100 / (@stats[:button_last_month][Event::CLICK] || 1)
              %br
              %span.content-big 
                = number_with_delimiter(@stats[:button_current_month_unique][Event::CLICK] || 0)
              %span.content-small visitors
              %span.percentage
                = @stats[:button_current_month_unique][Event::CLICK].to_f * 100 / (@stats[:button_last_month_unique][Event::CLICK] || 1)
              %hr
              %span.content-big 
                = number_with_delimiter(@stats[:button_last_month][Event::CLICK] || 0)
              %span.content-small clicks last month, day to date
              %br
              %span.content-big 
                = number_with_delimiter(@stats[:button_last_month_unique][Event::CLICK] || 0)
              %span.content-small visitors last month, day to date
        %ul
          %span.huge 
            = @stats[:button_click_rate]
          %strong click rate
          %br
          %small
            = @stats[:button_unique_click_rate]
            unique click rate
    .span6
      %article.coolbox{style:"height: 300px"}
        %h3 Events graph
        #eventsChart{style:"height: 300px"}
        #eventsChartData{data:{json:"#{@chart.to_json}"}}
  .row-fluid
    .span12
      %article.coolbox
        %h3 Monthly key numbers
        %table.table
          %thead
            %tr
              %th Month
              %th Views
              %th Clicks
              %th Users
              %th Guests
              %th Follows
              %th Orders
          %tbody
            - @data.each do |data|
              %tr
                %td
                  = data[:month]
                %td
                  = number_with_delimiter(data[:views])
                %td
                  = number_with_delimiter(data[:clicks])
                  .rate
                    = conversion_rate(data[:clicks], data[:views])
                %td
                  = number_with_delimiter(data[:users])
                  .rate
                    = conversion_rate(data[:users], data[:clicks])
                %td
                  = number_with_delimiter(data[:guests])
                  .rate
                    = conversion_rate(data[:guests], data[:clicks])
                %td
                  = number_with_delimiter(data[:follows])
                  .rate
                    = conversion_rate(data[:follows], data[:clicks])
                %td
                  = number_with_delimiter(data[:orders])                
                  .rate
                    = conversion_rate(data[:orders], data[:clicks])

