<div class="staff-hashtags-popup fade modal hidden">
  <h5>Hashtags visibles</h5>
  <div class="staff-hashtags-block">
    <% StaffHashtag.visible.each do |hashtag| %>
      <span class="staff-hashtag" data-checked="0" data-id="<%= hashtag.id %>">#<%= hashtag.name_en %></span>
    <% end %>
  </div>

  <h5>Hashtags invisibles</h5>
  <div class="staff-hashtags-block">
    <% StaffHashtag.grouped_by_category.each do |category, hashtags| %>
      <p class="staff-hashtags-category"><%= category %></p>
      <% hashtags.each do |hashtag| %>
        <span class="staff-hashtag" data-checked="0" data-id="<%= hashtag.id %>">#<%= hashtag.name_en %></span>
      <% end %>
    <% end %>
  </div>
  
  <%= button_tag 'Ajouter ces hashtags', class:'btn hashtag-submit', id:"staff-hashtags-submit" %>
</div>
