%section.header
  %header
    %h2=link_to(@look.flinker.name || @look.flinker.url, admin_flinker_path(@look.flinker))
    %h2{class:"look-name-published-#{@look.published?} look-name-prepublished-#{@look.prepublished?}"}
      = @look.name
    %h3{class:'look-uuid'}
      = @look.uuid
    %br
    - if @look.prepublished?
      %span{class:"publication-state-prepublished"}
        Prepublié le 
        = l(@look.prepublished_at, format: "%d/%m/%Y")
    - if @look.published?
      %span{class:"publication-state-published"}
        Publié le
        = l(@look.flink_published_at, format: "%d/%m/%Y")
.container-fluid
  .row-fluid
    .span3
      %article.coolbox
        %h3 Text
        = @look.published_at.to_s
        %br
        = link_to @look.name, @look.url, target: "blank"
        - if @look.post.present?
          %br
          =highlighted_brands(@look.post.content, @brands).html_safe
      %article.coolbox
        %h3 Links
        - @look.post.links.each do |link|
          = link_to link[:text], link[:url], target: "blank"
          %br
      %article.coolbox
        %h3 Actions
        %button.btn.btn-success#look-add-codes
          %i.icon-plus.icon-white
          Add products from codes
        %p
        %button.btn.btn-success#look-add-urls
          %i.icon-plus.icon-white
          Add products from url
        %p
        %button.btn.btn-success#look-add-custom
          %i.icon-plus.icon-white
          Add custom product
    .span9
      %article.coolbox#grid
        %a{href: "#{prepublish_admin_look_path(@look)}", id:"prepublish-look", class:"publish-actions-button"}
          %i.icon-check.icon-white
          Prepublish look
        %a{href: "#{reject_admin_look_path(@look)}", id:"reject-look", class:"publish-actions-button"}
          %i.icon-trash.icon-white
          Reject look
        %a{href: "#{reject_quality_admin_look_path(@look)}", id:"reject-quality-look", class:"publish-actions-button"}
          %i.icon-trash.icon-white
          Reject Quality
        = link_to 'Rénitialiser les images', reinitialize_images_admin_look_path(@look), id:"reinitialize-images", class:"publish-actions-button", method:"put", confirm:"Confirmez"
        %a{href: "#{publish_admin_look_path(@look)}", id:"publish-look", class:"publish-actions-button"}
          %i.icon-check.icon-white
          Publish look
        %hr
        = grouped_themes_for_select(@look)
        =render partial:'form'
        =render partial:'staff_hashtags'
        =button_tag 'Hashtags', {id:"staff-hashtags-button", class:"btn hashtag-submit"}
        %hr  
        %div.images
          - LookImage.where(resource_id:@look.id).order(:display_order).each do |image|
            .img-block.sort{"data-id" => "#{image.id}"}
              = image_tag image.picture.url, class:"thumb"
              .img-delete
                = link_to "X", admin_look_image_path(image), method:"delete", remote: true
              .img-sizes
                %span="Original : "
                %span=image.real_sizes["original"]
                %br
                %span="Large : "
                %span=image.real_sizes["large"]
              .img-tools
                %a.crop-image{ href: "#{admin_image_path(image)}"}
                  =image_tag "admin/crop-25.png"
      %article.coolbox
        %h3 Products
        .row-fluid#look-products
          = render @look.look_products
      .spacer100

.hidden#look{"data-id" => "#{@look.id}"}

#look-add-urls-modal.modal.fade.hidden
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"} x
        %h4.modal-title Add products by url
      .modal-body
        = form_tag admin_look_products_path, id:"look-add-urls-form", remote:true do
          %p Enter URLs of products to add (one URL per line)
          = text_area_tag "urls", "", rows:"10", cols:"80", style:"width:95%", id:"look-add-urls-field"
          = hidden_field_tag "look_id", @look.id
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary#look-add-urls-confirm{type: "button", "data-loading-text" => "Processing..."} Add products

#look-add-codes-modal.modal.fade.hidden{data: {brands:@brands}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"} x
        %h4.modal-title Add products by codes
      .modal-body
        = form_tag admin_look_products_path, id:"look-add-codes-form", remote:true do
          - 10.times do |i|
            .row-fluid
              .span6
                = select_tag "code-#{i}", options_for_select(LookProduct.codes), id:"code-#{i}"
              .span4
                = text_field_tag "brand-#{i}", "", id:"brand-#{i}"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary#look-add-codes-confirm{type: "button", "data-loading-text" => "Processing..."} Add products

#look-update-code-modal.modal.fade.hidden
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"} x
        %h4.modal-title Update product's code
      .modal-body
        = form_tag admin_look_products_path, id:"look-update-code-form", remote:true do
          %p Select product's code
          = select_tag "code", options_for_select(LookProduct.codes)
          = hidden_field_tag "_method", "put"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary#look-update-code-confirm{type: "button", "data-loading-text" => "Processing..."} Confirm

#look-add-custom-modal.modal.fade.hidden
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"} x
        %h4.modal-title Add custom product
      .modal-body
        .row-fluid
          .span12
            %p Product url
            = text_field_tag "url", "", id:"custom-url", style:"width:97%"
        .row-fluid
          .span6
            %p Product name
            = text_field_tag "name", "", id:"custom-name", style:"width:95%"
            %p Product brand
            = text_field_tag "brand", "", id:"custom-brand", style:"width:95%"
            %p Price (EUR in cents)
            = text_field_tag "price", "", id:"custom-price", style:"width:95%"
            %p Image url
            = text_field_tag "image-url", "", id:"custom-image-url", style:"width:95%"
          .span6
            %p Product description
            = text_area_tag "description", "", rows:"4", style:"width:95%", id:"custom-description"
            %p Shipping price (EUR in cents)
            = text_field_tag "shipping_price", "", id:"custom-price-shipping", style:"width:95%"
            %p Shipping info
            = text_field_tag "shipping_info", "", id:"custom-shipping-info", style:"width:95%"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        %button.btn.btn-primary#look-add-custom-confirm{type: "button", "data-loading-text" => "Processing..."} Add product