- content_for :head do
  %meta{content: @look.description, name: "description"}/

#background
#pane
  #cover
  #content.hidden-xs
    #header
      - unless @avatar.nil?  || @avatar.avatar_url.nil?
        = image_tag(@look.flinker.avatar.url, size:"75x75", class:"flinker-avatar")
      %h3= @look.flinker.name
      %h5= @look.name

    #center
      #share-buttons
        .fb-like{"data-action" => "like", "data-href" => "http://www.flink.io/looks/" + @look.uuid, "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "false"}
        %iframe.twttr-like{allowtransparency: "true", frameborder: "0", scrolling: "no", src: "https://platform.twitter.com/widgets/tweet_button.html", style: "width:80px; height:20px;"}
    #footer
      %h5
        Download Flink on your iPhone
        %br
          and follow #{@look.flinker.name} to get more looks.
      = link_to(image_tag('flink/appstore.png'),"https://itunes.apple.com/us/app/flink-discover-share-awesome/id798552697?l=fr&ls=1&mt=8")


:javascript
  $(document).ready(function(){
    var background = $('#background');
     background.css({
     "background": "url(#{@look.look_images.order(:display_order).first.picture.url(:small)}) center center fixed",
     "background-size": "100% auto",
     "-webkit-filter":  "blur(40px)",
     "filter": "url(#blur)",
     });

     $("#pane #cover").css({
        "background": "url(#{@look.look_images.order(:display_order).first.picture.url(:large)}) no-repeat",
        "background-size": "auto 600px"
     })

  });

