<%= form_for([:admin, @notification]) do |f| %>

  <%= f.label :text_en, 'Notification(Anglais)' %>
  <%= f.text_area :text_en %>

  <%= f.label :text_fr, 'Notification(Français)' %>
  <%= f.text_area :text_fr %>
  <br/>
  <p class="apns-notif-target">
    <%= f.label :resource_klass_name, "Type de lien" %>
    <%= f.select :resource_klass_name, options_for_select([nil] + ApnsNotification::TARGETS, f.object.resource_klass_name) %>
    
    <%= f.label :resource_identifier, "Identifiant" %>
    <%= f.text_field :resource_identifier %>
  </p>
  <p class="apns-identifiant-help">
    Pour un look : son uuid<br/>
    Pour un flinker : son id<br/>
    Pour un hashtag : le hashtag<br/>
    Pour un theme : rien, nada<br/>
  </p>
  <br/>
  <%= f.submit "Créer cette notification" %>
  
<% end %>

<div class="send-links">
  <%= link_to 'Tester', admin_apns_notification_test_path(@notification), class:'test-apns-notification-link' %>
  <%= link_to 'Envoyer à tous les utilisateurs', 
    admin_apns_notification_send_to_flinkers_path(@notification), 
    class:'test-apns-notification-link', 
    confirm:"/!\\Confirmer l'envoi de cette notification à tous les utilisateurs" %>  
</div>
