<% content_for :head do %>
<%= javascript_include_tag 'datatable.reload_ajax' %>
<%= javascript_include_tag 'admin/orders' %>
<% end %>

<audio id="sound-processing">
  <source src="/sounds/incoming_order.mp3" type='audio/mpeg'>
</audio>

<audio id="sound-pending">
  <source src="/sounds/order_injection_failed.mp3" type='audio/mpeg'>
</audio>

<audio id="sound-success">
  <source src="/sounds/order_successfully_completed.mp3" type='audio/mpeg'>
</audio>

<audio id="sound-failed">
  <source src="/sounds/order_abort.mp3" type='audio/mpeg'>
</audio>

<div class="row">
  <div class="span12" id="processingOrdersSection">
    <span class="badge"><h2>Processing orders</h2></span>
    <table id="processingOrders" class="table table-striped" data-source="<%= admin_orders_url(state:"processing", format: "json") %>">
      <thead>
        <tr>
          <th>Product</th>
          <th>Merchant</th>
          <th>Price</th>
          <th>User</th>
          <th>Updated at</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
  <div id="pendingOrdersSection">
    <span class="badge badge-warning"><h2>Pending Orders</h2></span>
    <table id="pendingOrders" class="table table-striped" data-source="<%= admin_orders_url(state:"pending", format: "json") %>">
      <thead>
        <tr>
          <th>Product</th>
          <th>Merchant</th>
          <th>Price</th>
          <th>User</th>
          <th>Updated at</th>
          <th>Error</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
</div>

<div class="row">
  <div class="span6" id="completedOrdersSection">
    <span class="badge badge-success"><h2>Completed orders</h2></span>
    <table id="completedOrders" class="table table-striped" data-source="<%= admin_orders_url(state:"completed", format: "json") %>">
      <thead>
        <tr>
          <th>Product</th>
          <th>Merchant</th>
          <th>Price</th>
          <th>User</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
  <div class="span6" id="failedOrdersSection">
    <span class="badge badge-important"><h2>Failed orders</h2></span>
    <table id="failedOrders" class="table table-striped" data-source="<%= admin_orders_url(state:"failed", format: "json") %>">
      <thead>
        <tr>
          <th>Product</th>
          <th>Merchant</th>
          <th>Price</th>
          <th>User</th>
          <th>Updated at</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody />
    </table>
  </div>
</div>

<div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Warning !</h3>
  </div>
  <div class="modal-body">
    <p>Do you really want to <strong><span id="confirmModelState"/></strong> the order&nbsp;?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-danger" id="confirmDestruction">Confirmation</a>
  </div>
</div>
