<h1>Orders list</h1>
<table class="table table-striped">
  <tr>
    <th><%= sortable "uuid", "UUID" %></th>
    <th><%= sortable "user_id", "User" %></th>
    <th><%= sortable "created_at", "Created at" %></th>
    <th><%= sortable "state_name", "State" %></th>
    <th><%= sortable "error_code", "Error code" %></th>
  </tr>
<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.uuid, order_path(order.uuid) %></td>
    <td><%= order.user.first_name %> <%= order.user.last_name %></td>
    <td><%= l order.created_at %></td>
    <td><%= order.state %></td>
    <td><%= order.error_code %></td>
  </tr>
<% end %>
</table>
<%= will_paginate(@orders) %>
