.span4
  %h1= t('app.my_addresses')
  - current_user.addresses.each do |address|
    .row.address-area{:id => "address-#{address.id}"}
      .span11
        %address
          %strong
            = "#{address.first_name} #{address.last_name}"
            %br
          = address.address1
          %br
          - if address.address2.present?
            = address.address2
            %br
          = "#{address.zip} #{address.city}"
          %br
          = address.country.name
          %br
      .span1
        %a{:class => "btn ", :style => "display:none", :id => "deleteAddressButton-#{address.id}", "target-modal" => "deleteAddressModal"}
          %i{:class => "icon-trash"}

  .row
    %a{:class => "btn btn-success modal-button", :id => "addressButton", "target-modal" => "addressModal", "target-url" => "#{new_address_path}"}
      %i{:class => "icon-plus icon-white"}
      = t("users.registration.finalize.add_address")
.span1
.span4
  %h1= t('app.my_payment_cards')
  - current_user.payment_cards.each do |card|
    .row.card-area{:id => "card#{card.id}"}
      .span11
        %address
          = card.number[0..1] + "XXXXXXXXXX" + card.number[12..15]
          %br
          = "#{card.exp_month}/#{card.exp_year}"
          %br
      .span1
        %a{:class => "btn", :style => "display:none", :id => "deleteCardButton-#{card.id}", "target-modal" => "deleteCardModal"}
          %i{:class => "icon-trash"}

  .row
    %a{:class => "btn btn-success modal-button", :id => "cardButton", "target-modal" => "cardModal", "target-url" => "#{new_payment_card_path}"}
      %i{:class => "icon-plus icon-white"}
      = t("users.registration.finalize.add_payment_card")

