<div class="hero-unit">
  <h2><%= t "users.registration.finalize.title" %></h2>
  <p><%= t "users.registration.finalize.tagline" %></p>
  <p>
  <% if current_user.addresses.count == 0 %>
    <a class="btn btn-success btn-large modal-button" id="addressButton" target-modal="addressModal" target-url="<%= new_address_path %>">
      <i class="icon-plus icon-white"></i> <%= t "users.registration.finalize.add_address" %>
    </a>
  <% end %>
  <% if current_user.payment_cards.count == 0 %>
    <a class="btn btn-success btn-large modal-button" id="cardButton" target-modal="cardModal" target-url="<%= new_payment_card_path %>">
      <i class="icon-plus icon-white"></i> <%= t "users.registration.finalize.add_payment_card" %>
    </a>
  <% end %>
  </p>
</div>

