.password-reset-section
  .fluid
    .row
      .col-md-6
        =image_tag(image_path('flink-logo-full.png'))
        .spacer50
        %p.password-info= t('app.password.change_info')
        .spacer25
        = form_for resource, as:resource_name, url:password_path(resource_name), html:{method:'put',class:'form form-horizontal',id:'change-password-form'} do |f|
          = f.hidden_field :reset_password_token
          - if resource.errors.any?
            .form-group
              .col-lg-10.alert.alert-danger
                =t("app.invalid_password_or_session_expiration")
          .form-group
            = f.label :password, t('app.new_password'), class:"col-lg-4 control-label"
            .col-lg-6
              = f.text_field :password, class:"form-control input-lg", type:"password", placeholder:"#{t('placeholders.user.password')}"
          .form-group
            = f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation'), class:"col-lg-4 control-label"
            .col-lg-6
              = f.text_field :password_confirmation, class:"form-control input-lg", type:"password", placeholder:"#{t('placeholders.user.password')}"
          .form-group
            .col-lg-offset-4.col-lg-6
              = f.submit t("app.confirm_reset"), class:"btn-password-reset", disable_with:t("app.wait")

