%h2= t('app.forgot_your_password')

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
  = f.error_notification

  = f.input :email, :autofocus => true, :required => false
  = f.button :submit, t('app.send_me_reset_password_instructions'), :class => 'btn-success'


