#catalogue-container
  .container
    .spacer25
    .row
      .col-lg-12
        %input#catalogue-search.form-control.input-lg{placeholder: "#{t('app.catalogue.search')}", spellcheck: "false", type: "text"}
    .row
      .col-xs-12.col-md-4.col-lg-2
        .spacer15
        %p#search-info
        %p#tags-merchant
        %p#tags-category
      .col-xs-12.col-md-8.col-lg-10
        .row
          #catalogue
            - 20.times do |i|
              .col-xs-6.col-md-3.col-lg-3
                .catalogue-box.display-none{id: "catalogue-box-#{i}"}
                  .catalogue-product
                    %img.catalogue-img{id: "catalogue-box-img-#{i}"}
                  .catalogue-price{id: "catalogue-box-price-#{i}"}
                  .catalogue-name{id: "catalogue-box-name-#{i}"}
                  .catalogue-merchant{id: "catalogue-box-merchant-#{i}"}