= simple_form_for [:admin, @merchant] do |f|
  = f.input :name
  = f.input :vendor
  = f.input :url
  = f.input :tc_url
  = f.input :billing_solution
  = f.input :injection_solution
  = f.input :cvd_solution
  = f.input :should_clean_args, collection:[true, false]
  = f.input :allow_quantities, collection:[true, false]
  = f.input :accepting_orders, collection:[true, false]
  = f.input :rejecting_events, collection:[true, false]
  = f.button :submit, "Validate", :class => 'btn-success'