%section.header
  %header
    %h1 Merchant #{@merchant.name}
    %h2 
      = @merchant.url

.container-fluid
  .row-fluid
    - @stats.each do |stat|
      = render "widgets/number_box", stat:stat
  .row-fluid
    .span3
      %article.coolbox
        %h3 Vulcain status
        = @merchant.accepting_orders? ? semaphore(@merchant.vulcain_test_pass) : raw("<strong>NOT ACCEPTNG ORDERS</strong>")
        - if @merchant.rejecting_events?
          %strong
            REJECTING EVENTS !!!
      %article.coolbox
        %h3 Configuration
        = render "form"
    .span9
      %article.coolbox
        %h3 Events
        %table.table.table-striped#events{data:{source:"#{admin_merchant_url(@merchant, format: 'json')}"}}
          %thead
            %tr
              %th Type
              %th Tracker
              %th Product
              %th Date
      %article.coolbox
        %h3 Orders
        %table.table.table-striped#orders
          %thead
            %tr
              %th State
              %th Product
              %th Price
              %th Updated_at
              %th Message
              %th Error
          %tbody
            - @merchant.orders.order("created_at desc").each do |order|
              - product = order.order_items.first.product
              %tr
                %td
                  = raw(order_state_to_html(order.state_name))
                %td
                  = product.try(:name)
                %td 
                  = number_to_currency(order.state == :completed ? order.billed_price_total : order.expected_price_total)
                %td
                  = time_ago_in_words(order.updated_at)
                %td
                  = order.message
                %td
                  = order.error_code