%article#homeArticle
  .topHome
    .spacer-header
    .container
      .row
        .col-md-6.center
          .promise
            = t 'app.public.promise'
            %h3= t 'app.public.tagline'
              
          .spacer40
          .btn.btn-default.btn-lg.btn-download#get-link{rel:"tooltip", data:{animation:'true', placement:'right', trigger:'click', html:'true'}}
            = t 'app.public.download_app'
          .row
            .col-md-4.col-md-offset-2
              .spacer40
              = link_to image_tag("appstore-icon.png"), "https://itunes.apple.com/fr/app/shopelia-lachat-facile-!/id731471392?mt=8"
            .col-md-4
              .spacer40
              = link_to image_tag("googleplay-icon.png"), "https://play.google.com/store/apps/details?id=com.shopelia.android.application"
            .spacer40
        .col-md-6
          .iphone-screen
            = image_tag("ios-screen.png", :class => "demo-screen")

  .spacer100
  %section
    .container
      .row
        .col-md-3.center= image_tag("simple-icon.png", width:"200px")
        .col-md-8.col-md-offset-1
          %h1.red= t 'app.public.simple.title'
          %p= t 'app.public.simple.text'
            
  .spacer50
  %section
    .container
      .row
        .col-md-3.center.col-md-push-8.col-md-offset-1= image_tag("convenient-icon.png", width:"200px")
        .col-md-8.col-md-pull-3
          %h1.green= t 'app.public.practical.title'
          %p= t 'app.public.practical.text'

  .spacer50
  %section
    .container
      .row
        .col-md-3.center= image_tag("security-icon.png", width:"200px")
        .col-md-8.col-md-offset-1
          %h1.blue= t 'app.public.secure.title'
          %p
            = t 'app.public.secure.text'
            = link_to("En savoir plus","/security")

  .spacer100

  %section#download
    .spacer40
    .container
      .row
        .col-md-6.col-md-offset-3
          .well#well_download
            .btn.btn-primary.btn-lg.btn-block.btn-download{rel:"tooltip"}
              = t 'app.public.download_app'

    .spacer50

#sendAppInvalidEntryModal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %h4= t 'app.public.send_app.invalid_entry'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}= t 'app.close'

#sendAppErrorModal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %h4= t 'app.public.send_app.error'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}= t 'app.close'

#sendAppSuccessModal.modal.fade{role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %h4= t 'app.public.send_app.success'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}= t 'app.close'

#downloadTooltip.hidden
  =raw(t 'app.public.download.tooltip')
  .spacer10
  = render "send_download_link/form"
