%article#homeArticle
  .topHome
    .spacer-header
    .container
      .row
        .col-md-6.center
          .promise
            Scannez et commandez
            %br
            avec
            %b
              un seul compte
            %br
            sur
            %b
              les sites marchands

          .spacer40
          .btn.btn-default.btn-lg.btn-download{rel:"tooltip"}
            Télécharger l'application
          .row
            .col-md-4.col-md-offset-2
              .spacer40
              = image_tag("appstore-icon.png")
            .col-md-4
              .spacer40
              = image_tag("googleplay-icon.png")
            .spacer40
        .col-md-6
          .iphone-screen
            = image_tag("ios-screen.png", :class => "demo-screen")

  .spacer100
  %section
    .container
      .row
        .col-md-3.center= image_tag("simple-icon.png", width:"200px")
        .col-md-8.col-md-offset-1
          %h1.red Simple
          %p
            Scannez le code-barres du produit dont vous avez envie.Nous vous proposons une liste de prix et de sites marchands, en incluant les frais de livraison pour éviter les mauvaises surprises .

  .spacer50
  %section
    .container
      .row
        .col-md-3.center.col-md-push-8.col-md-offset-1= image_tag("security-icon.png", width:"200px")
        .col-md-8.col-md-pull-3
          %h1.blue Sécurisé
          %p
            La transaction est effectuée sur des serveurs sécurisés.
            Nous ne stockons aucune donnée de carte bancaire.
            =  link_to("En savoir plus")

  .spacer50
  %section
    .container
      .row
        .col-md-3.center= image_tag("convenient-icon.png", width:"200px")
        .col-md-8.col-md-offset-1
          %h1.green Pratique
          %p
            C’est votre 1er achat avec Shopelia: ajoutez vos informations personnelles et bancaires pour créer votre compte et valider votre commande.
            Et pour les achats suivants, votre e-mail et mot de passe suffisent, quel que soit le marchand chez qui vous souhaitez commander.

  .spacer100

  %section#download
    .spacer40
    .container
      .row
        .col-md-6.col-md-offset-3
          .well#well_download
            .btn.btn-primary.btn-lg.btn-block.btn-download{rel:"tooltip"}
              Télécharger l'application de suite !


    .spacer50
