.container
  .row.cgu
    .col-md-6.col-md-offset-3
      .spacer40
      %h3
        Conditions Générales d’Utilisation Shopelia
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b Préambule
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b Les présentes Conditions Générales d’Utilisation s’appliquent entre:
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La société PRIXING 
      %p.p3
        %span.s1 Société par Actions Simplifiée au capital de 291.676,00 Euros
      %p.p3
        %span.s1 Dont le siège social est situé 21, rue d’Aboukir - 75002
      %p.p3
        %span.s1 Immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro B 529 991 119
      %p.p3
        %span.s1 N°TVA intracommunautaire FR 529 991 119
      %p.p3
        %span.s1 Téléphone : 01 82 09 15 44
      %p.p3
        %span.s1 Courrier électronique : contact@shopelia.fr
      %p.p3
        %span.s1 Editrice du service SHOPELIA et du site www.shopelia.fr (Directeur de publication : Monsieur Eric LARCHEVÊQUE en sa qualité de Président, 
      %p.p3
        %span.s1 Hébergeur : OVH RCS Roubaix – Tourcoing 424 761 419 00011 – Siège social : 140 Quai du Sartel – 59100 Roubaix – France, accessible à http://www.ovh.com
      %p.p2
        %span.s1
        %br/
      %p.p4
        %span.s1 Ci-après dénommée « la Société »,
      %p.p5
        %span.s1
        %br/
      %p.p4
        %span.s1 D’une part,
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b Et :
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Toute personne souhaitant utiliser la prestation permettant de commander en ligne un ou des produits auprès de divers marchands, ci-après dénommé « Service » et proposée par la Société au travers de son logiciel « SHOPELIA », 
      %p.p2
        %span.s1
        %br/
      %p.p4
        %span.s1 Ci-après dénommée « l’Utilisateur»,
      %p.p5
        %span.s1
        %br/
      %p.p4
        %span.s1 D’autre part.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Pour l’application des présentes Conditions Générales d’Utilisation, il est convenu que la Société et l’Utilisateur seront collectivement dénommés les «Parties » et individuellement dénommés «Partie ».
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur déclare avoir la majorité légale et avoir la pleine capacité juridique ou bénéficier de l’autorisation d’une personne titulaire de l’autorité parentale, d’un tuteur ou bien d’un curateur.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Tout Ordre de commande via l’utilisation du Service suppose la consultation et l'acceptation expresse des présentes Conditions Générales d’Utilisation ci-après dénommées « CGU » (cf. article 5 ci-dessous), sans toutefois que cette acceptation soit conditionnée par une signature manuscrite de la part de l’Utilisateur.
      %p.p2
        %span.s1
        %br/
      %p.p6
        %span.s1
          %b Article 1 - Définitions 
      %p.p6
        %span.s1
          %b Article 2 – Objet 
      %p.p6
        %span.s1
          %b Article 3 – Service
      %p.p6
        %span.s1
          %b Article 4 – Acceptation et modification des CGU
      %p.p6
        %span.s1
          %b Article 5 – Inscription au Service 
      %p.p6
        %span.s1
          %b
            Article 6 – Moyens de paiement
            %span.Apple-tab-span
      %p.p6
        %span.s1
          %b Article 7 - Enregistrement et validation de l’Ordre de commande
      %p.p6
        %span.s1
          %b Article 8 – Paiement 
      %p.p6
        %span.s1
          %b Article 9 – Responsabilité
      %p.p6
        %span.s1
          %b Article 10 – Résiliation
      %p.p6
        %span.s1
          %b Article 11 – Annulation de l’Ordre de commande
      %p.p6
        %span.s1
          %b Article 12 – Protection des données personnelles
      %p.p6
        %span.s1
          %b Article 13 – Propriété intellectuelle
      %p.p6
        %span.s1
          %b Article 14 – Support Utilisateurs 
      %p.p6
        %span.s1
          %b Article 15 – Stipulations diverses 
      %p.p6
        %span.s1
          %b Article 16 – Loi applicable – Juridictions compétentes
      %p.p6
        %span.s1
          %b Article 1 - Définitions 
      %p.p7
        %span.s1
        %br/
      %p.p6
        %span.s1 Dans les présentes,
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « Service Shopelia » ou « Service » : désigne le service édité par la société PRIXING qui permet à l’Utilisateur depuis son Appareil mobile ou tout autre appareil pouvant se connecter au web, de donner l’ordre à la Société de passer, au nom et pour le compte de l’Utilisateur, immédiatement et en quelques clics, une commande de produits proposés par des commerçants sur internet;
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          « L’Application » : désigne sans distinction i) le site
          = succeed "," do
            %a{href: "http://www.shopelia.fr"}
              %span.s2 www.shopelia.fr
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « Appareil mobile » : Désigne un appareil électronique portatif à usage nomade utilisant une technologie compatible avec le Service Shopelia et son Application. Cet appareil se présente typiquement comme un écran possédant une interface tactile ou un clavier miniaturisé. Il peut s'agir notamment de smartphones, téléphones mobiles, tablettes tactiles, etc.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « Utilisateur » : désigne toute personne ayant accepté les présentes CGU et utilisant le Service Shopelia via son Appareil mobile ou tout autre appareil pouvant se connecter au web ;
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « Compte Utilisateur » : désigne le compte qui doit être créé par l’Utilisateur pour pouvoir accéder aux fonctionnalités du Service Shopelia ;
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « Marchand » : désigne tout commerçant sur internet chez qui l’Utilisateur souhaite commander un ou des produits en utilisant le « Service Shopelia »;
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « Ordre de commande » : Dans le cadre du Service Shopelia et de son Application, désigne tout acte par lequel un Utilisateur ordonne à la Société de passer une commande, au nom et pour le compte de cet Utilisateur, auprès d’un Marchand ;
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « Emetteur » : désigne la société autorisée à émettre de la Monnaie Électronique sur le territoire français en vue d’en permettre l’usage par l’Utilisateur ;
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « Monnaie Electronique » : désigne la valeur monétaire stockée sous une forme électronique sur le serveur de l’Emetteur et représentant une créance de l’Utilisateur sur ce dernier. La Monnaie Electronique est émise par l’Emetteur contre la remise des fonds correspondants par l’Utilisateur ;
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 «  Porte Monnaie Électronique » : désigne un compte de Monnaie Electronique créé par l’Utilisateur auprès du Partenaire Leetchi.com dans le cadre du service Mangopay ;
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 « CGU » : désigne les présentes Conditions Générales d'Utilisation.
      %p.p7
        %span.s1
          %b
        %br/
      %p.p7
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 2 – Objet 
      %p.p7
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1 Les présentes CGU ont pour objet de définir dans le cadre du Service Shopelia et de son Application, les droits et obligations de chacune des Parties issues de la prestation d’intermédiation proposée par la Société en vue du passage d’un ordre de commande en ligne de produit(s) auprès de Marchands. 
      %p.p2
        %span.s1
          %b
        %br/
      %p.p2
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1
          %b Article 3 – Service
      %p.p2
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1
          %b
            %i 3.1. Pouvoirs conférés à la Société par l’Utilisateur :
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Par l’acceptation des présentes, l’Utilisateur reconnaît conférer expressément tous les pouvoirs nécessaires à la Société afin de lui permettre de réaliser le Service pour lequel elle est mandatée, et notamment le pouvoir d’agir au nom et pour le compte de l’Utilisateur, en ce compris pour procéder, le cas échéant, à l’acceptation des conditions générales de vente et/ou prestation des sites Marchands.
      %p.p3
        %span.s1 L’Utilisateur autorise la Société à lui créer :
      %p.p2
        %span.s1
        %br/
      %ul
        %li.li3
          %span.s3
          %span.s1 une adresse électronique personnalisée en vue de son enregistrement auprès des sites Marchands. Cette adresse permettra à la Société de réceptionner les récapitulatifs de commande et factures adressés par le site Marchand à l’Utilisateur et dont la Société assurera le transfert à l’Utilisateur ainsi que la conservation ;
      %p.p8
        %span.s1
        %br/
      %ul
        %li.li3
          %span.s3
          %span.s1 un compte client chez le Marchand, à partir de l’adresse électronique personnalisée créée par la Société et des données transmises par l’Utilisateur à la Société. Dans l’éventualité où l’Utilisateur disposerait déjà d’un compte client auprès du Marchand, ce compte client préexistant ne pourra pas être utilisé dans le cadre du Service. L’Utilisateur autorise expressément la Société à lui créer un nouveau compte client en vue de l’utilisation du Service et à passer tous les futurs Ordres de commande à partir du nouveau compte ainsi créé.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur reconnaît que la Société n’est qu’un intermédiaire à l’opération d’achat envisagée par l’Utilisateur et que, par conséquent, la Société ne saurait être confondue avec le Marchand auprès duquel la commande est effectivement passée. L’Utilisateur reconnaît que la Société n’a pas pour mission de rechercher le ou les produits au meilleur prix auprès des Marchands. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Une fois l’Ordre de commande confirmé par la Société puis la commande validée par le Marchand, le contrat en résultant sera conclu entre l’Utilisateur et le Marchand.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b 3.2. Durée :
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 A défaut de résiliation pouvant intervenir à l’initiative de chaque Partie, conformément à l'article 10 des présentes CGU, le contrat de Service est conclu pour une durée indéterminée. 
      %p.p2
        %span.s1
        %br/
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b Article 4 – Acceptation et modification des CGU
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b 4.1. Acceptation à l’inscription :
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          L'accès et l’utilisation du Service sont soumis à l'acceptation par l’Utilisateur de l'ensemble des termes des présentes CGU sans aucune réserve. Cette acceptation est acquise lorsqu’il coche la case
          %i «Je reconnais avoir pris connaissance et accepte les Conditions Générales d’Utilisation »
          et valide son Ordre de commande en cliquant sur le bouton
          = succeed "." do
            %i « Commander »
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 A défaut d’acceptation, il est impossible de pouvoir utiliser le Service proposé par la Société.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En cas de manquement par l’Utilisateur à l'une des obligations prévues par les présentes, la Société pourra à tout moment et sans préavis suspendre et/ ou supprimer le Compte Utilisateur concerné. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les CGU sont librement consultables, imprimables et/ou sauvegardables sur le Site à l’URL suivante: http://www.shopelia.fr/cgu. 
      %p.p2
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1
          %b 4.2. Modification ultérieure :
      %p.p2
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1 La Société se réserve la faculté de modifier à tout moment les présentes CGU.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les CGU modifiées entreront en vigueur dès leur mise en ligne par la Société et prévaudront sur toute version de date antérieure imprimable et/ou imprimée. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          Pour pouvoir continuer à utiliser le Service, l’Utilisateur devra accepter les nouvelles CGU portées à sa connaissance en cochant la case
          %i «Je reconnais avoir pris connaissance et accepte les Conditions Générales d’Utilisation ».
      %p.p2
        %span.s1
          %i
        %br/
      %p.p3
        %span.s1 A défaut d’une telle acceptation, l’accès au Service sera suspendu. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En cas de désaccord avec la version modifiée des CGU, l’Utilisateur pourra résilier son inscription au Service conformément à l’article 10 des présentes CGU.
      %p.p7
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 5 – Inscription au Service 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b> 5.1. Création du Compte Utilisateur 
          \: 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’accès et l’utilisation du Service proposé par la Société sont soumis à une inscription préalable permettant de créer un Compte Utilisateur. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les données requises ci-après sont nécessaires au bon fonctionnement du service d’intermédiation entre l’Utilisateur et le Marchand, elles pourront donc être amenées à être modifiées ou évoluer. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’inscription peut se faire en cliquant sur le bouton « Acheter ». 
      %p.p2
        %span.s1
        %br/
      %p.p9
        %span.s1 L’Utilisateur est alors invité à saisir les informations requises pour la création du Compte Utilisateur, à savoir :
      %ul
        %li.li9
          %span.s3
          %span.s1 une adresse de messagerie électronique valide, cette dernière constituant son identifiant (nom d’Utilisateur) pour accéder à son compte et au Service Shopelia,
        %li.li9
          %span.s3
          %span.s1 un mot de passe choisi par ses soins, strictement personnel et confidentiel,
        %li.li9
          %span.s3
          %span.s1 sa date de naissance,
        %li.li9
          %span.s3
          %span.s1 son numéro de téléphone fixe et/ou mobile
      %p.p9
        %span.s1 En cas de fourniture du numéro de téléphone fixe, ce dernier est transmis au back office Shopelia qui effectue une requête sur un annuaire inversé. En cas de réponse positive, les nom, prénom et  adresse de l’Utilisateur sont automatiquement préremplis. 
      %p.p9
        %span.s1 A défaut, l’Utilisateur devra fournir lui-même les informations suivantes :
      %ul
        %li.li9
          %span.s3
          %span.s1 son nom et son prénom
        %li.li9
          %span.s3
          %span.s1 son adresse complète pour la livraison
      %p.p9
        %span.s1 L’Utilisateur doit ensuite saisir ses informations de carte bancaire, soit manuellement, soit en utilisant l’option de scan qui effectue une reconnaissance optique de la carte afin de faciliter le processus. 
      %p.p9
        %span.s1 Les informations requises sont les suivantes : 
      %ul
        %li.li3
          %span.s3
          %span.s1 Le nom du titulaire de la carte bancaire
        %li.li3
          %span.s3
          %span.s1 Le numéro de carte bancaire
        %li.li3
          %span.s3
          %span.s1 La date d’expiration de celle-ci
        %li.li3
          %span.s3
          %span.s1 Son numéro cryptogramme (numéro à 3 chiffres figurant au verso de la carte bancaire) 
      %p.p10
        %span.s1
        %br/
      %p.p3
        %span.s1 Une fois saisies, ces informations sont transférées de manière sécurisée directement vers le site de l’Emetteur en vue de l’inscription de l’Utilisateur au service Mangopay conformément à l’article 6 des présentes CGU. 
      %p.p2
        %span.s1
        %br/
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Enfin, l’Utilisateur doit valider les présentes CGU.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 A l’issue de ces différentes étapes, et une fois les présentes CGU validées, un message électronique est adressé à l’Utilisateur à l’adresse électronique qu’il a préalablement renseignée en vue de l’informer de la confirmation de son inscription au « Service ». 
      %p.p2
        %span.s1
        %br/
      %p.p2
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1
          %b> 5.2. Engagements de l’Utilisateur 
          \: 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur s’engage à utiliser de manière normale le Service Shopelia mis à sa disposition conformément aux présentes CGU, sans intention frauduleuse et/ou malveillante, et s’engage notamment à ne pas fournir d’informations erronées et/ou fictives et/ou mensongères et/ou visant à porter préjudice à la Société ou à un tiers. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur consent de plus à ne pas nuire, ni tenter de nuire, par quelques moyens qu’il soit, au fonctionnement du Service proposé par la Société.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Seul un compte utilisateur par personne physique majeure est autorisé, elle s’engage donc à ne pas créer plusieurs Comptes Utilisateur. A défaut, la Société pourra notamment suspendre et/ou supprimer le Compte de l’Utilisateur concerné.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En cas de non respect des engagements prévus au présent article, la Société dispose d’une faculté de résiliation prévue à l’article 10 des présentes CGU. 
      %p.p2
        %span.s1
        %br/
      %p.p7
        %span.s1
          %b
        %br/
      %p.p11
        %span.s1
          %b Article 6 – Moyens de paiement
      %p.p9
        %span.s1 La Société est un distributeur de Monnaie Électronique au sens de la directive 2009/110/CE. 
      %p.p9
        %span.s1 Afin de pouvoir utiliser le Service proposé, l’Utilisateur reconnaît savoir que les opérations de paiements sont réalisés grâce au service de paiement Mangopay géré par la société Leetchi Corp. S.A., société agréée en tant qu’établissement de monnaie électronique, immatriculée au RCS luxembourgeois sous le n° B173459, dont le siège social est situé 26-28, rives de Clausen, L-2165, Luxembourg. 
      %p.p9
        %span.s1
          Conformément à l’article 3 des présentes CGU, l’Utilisateur autorise la Société à l’inscrire au service Mangopay auprès de l’Emetteur en vue de la création d’un Porte Monnaie Électronique rattaché au compte de l’Utilisateur. Dans le cadre de cette mission, l’Utilisateur donne pouvoir à la société d’accepter en son nom et pour son compte les Conditions Générales d’Utilisation de Leetchi disponible à l’adresse suivante :
          = succeed ".\u{a0}" do
            %i www.shopelia.fr/cgumangopay
      %p.p3
        %span.s1 Il est précisé qu'en effectuant un règlement immédiat par le service Mangopay, tel que prévu à l'article 8.2 ci-après, l’Utilisateur sera alors basculé automatiquement sur le serveur monétique de la plateforme de paiement sécurisé de l’Emetteur. Le serveur de cette dernière fait l'objet d'une sécurisation par cryptage S.S.L. (Secure Socket Layer) de manière à protéger le plus efficacement possible toutes les données liées aux moyens de paiement. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 A aucun moment les données bancaires de l’Utilisateur ne transitent sur le système informatique de la Société. 
      %p.p7
        %span.s1
        %br/
      %p.p7
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 7 - Enregistrement et validation de l’Ordre de commande
      %p.p7
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 7.1. Enregistrement de l’Ordre de commande
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur passe son Ordre de commande via une connexion fournie par un prestataire de son choix lui permettant d’accéder au Service. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Après avoir cliqué sur le bouton « Acheter », l’Utilisateur est redirigé vers le Service. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Deux cas de figure sont alors possibles :
      %p.p2
        %span.s1
        %br/
      %ol.ol1
        %span.s1
          %b 1) L’Utilisateur ne dispose pas de Compte Utilisateur : 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Dans ce cas, s’agissant de la première utilisation du Service, l’Utilisateur est invité à créer un Compte Utilisateur conformément à l’article 5 précité. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Une fois le Compte Utilisateur créé, l’Utilisateur sera automatiquement dirigé vers la page d’enregistrement de l’Ordre de commande.
      %p.p2
        %span.s1
        %br/
      %ol.ol1
        %span.s1
          %b 2) L’Utilisateur dispose d’un Compte Utilisateur : 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Dans ce cas, après avoir cliqué sur le bouton « Acheter », l’Utilisateur est automatiquement dirigé vers la page d’enregistrement de l’Ordre de commande.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 A compter de la seconde utilisation du Service, une fois sur la page d’enregistrement de l’Ordre de commande, l’Utilisateur est invité à entrer son email et mot de passe afin d’authentifier son identité. Toutefois, s’il le souhaite, l’Utilisateur pourra indiquer à la Société sa volonté de ne plus avoir à remplir le champ « email » à chaque utilisation en cochant la case « Se souvenir de moi », cette faculté lui permettant de s’authentifier uniquement en tapant son mot de passe dans le champ réservé à cet effet. 
      %p.p3
        %span.s1
          Dans l’éventualité où il ferait ce choix et qu’il souhaiterait a posteriori avoir à remplir à nouveau le champ « email » et « mot de passe » à chaque utilisation, il lui suffira d’envoyer un courrier par voie électronique en ce sens à l’adresse suivante :
          = succeed ".\u{a0}" do
            %a{href: "mailto:support@shopelia.fr"}
              %span.s2 support@shopelia.fr
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Il peut alors prendre connaissance du récapitulatif de l’Ordre de commande apparaissant à l’écran, précisant : 
      %p.p2
        %span.s1
        %br/
      %ul
        %li.li3
          %span.s3
          %span.s1 le nombre du ou des produits commandés auprès du Marchand par l’Utilisateur
        %li.li3
          %span.s3
          %span.s1 la nature et le prix du ou des produits retenus par l’Utilisateur, 
        %li.li3
          %span.s3
          %span.s1 le montant des frais de port, 
        %li.li3
          %span.s3
          %span.s1 le total de la commande, 
        %li.li3
          %span.s3
          %span.s1 les coordonnées de l’Utilisateur,
        %li.li3
          %span.s3
          %span.s1 et l’adresse de livraison. 
      %p.p2
        %span.s1
        %br/
      %p.p2
        %span.s1
          %b
            %i
        %br/
      %p.p3
        %span.s1
          %b
            %i 7.2. Validation définitive de l’Ordre de commande
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Après avoir pris connaissance du détail de sa future commande, et une fois que l’ensemble des informations demandées aura été complété par L’Utilisateur, celui-ci sera invité à accepter expressément les Conditions Générales de Vente du Marchand proposant le ou les produits en cochant la case « Je reconnais avoir pris connaissance et accepte les Conditions Générales de Vente du Marchand » prévue à cet effet.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Il pourra alors cliquer sur « Commander » afin de confirmer définitivement sa commande.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Dès lors son paiement par carte bancaire est validé, et l’Ordre de commande est enregistré et devient irrévocable. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Ordre de commande sera enregistré sur les registres informatiques de la Société, eux-mêmes conservés sur un support fiable et durable, et sera considéré comme preuve des relations contractuelles intervenues entre les Parties.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 7.3. Confirmation de l’Ordre de commande 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Dès la validation par l’Utilisateur de son Ordre de commande, la Société lui adresse par voie de courrier électronique une confirmation de la prise en compte de son Ordre de commande qui ne vaut pas acceptation ni confirmation de la commande telle que prévue par l’article 7.4 des Présentes CGU. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 7.4. Confirmation de la commande
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Lorsque son paiement par carte bancaire aura été validé, un récapitulatif de la commande de l’Utilisateur sera envoyé par voie de courrier électronique, dès l’acceptation par le Marchand de l’Ordre de commande passé. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Toutefois, au regard de l’opération d’intermédiation réalisée par la Société, l’acceptation de la commande par le Marchand ne peut être garantie par la Société. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En cas de modification du prix à la hausse par le Marchand, un message sera adressé par voie de courrier électronique à l’Utilisateur l’informant de l’augmentation du prix et lui proposant : soit d’annuler sa commande soit de la confirmer au nouveau prix proposé par le Marchand. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En cas de modification du prix à la baisse, l’Utilisateur sera réputé avoir accepté le nouveau prix proposé par le Marchand et sera débité du nouveau montant plus faible. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En cas de refus ou d’impossibilité de passer la commande auprès du site Marchand, un message sera adressé par voie de courrier électronique à l’Utilisateur lui indiquant l’échec de l’Ordre de commande et l’annulation de ce dernier sans frais. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les délais d’envoi de ces messages d’information par voie électronique sont variables et seront dépendants des délais de réponse du site de chaque Marchand, mais, à titre indicatif, la Société tentera d’informer l’Utilisateur au plus tard dans les cinq heures
        %span.s4
          %i
        %span.s1 suivant la validation de l’Ordre de commande donné par l’Utilisateur. 
      %p.p7
        %span.s1
        %br/
      %p.p7
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 8 – Paiement 
      %p.p7
        %span.s1
          %i
        %br/
      %p.p3
        %span.s1
          %b
            %i 8.1. Montant de la commande
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Le montant dû par l’Utilisateur au titre de l’Ordre de commande porte sur le ou les produits commandés auprès du site Marchand, en ce compris les frais de livraison et autres frais annexes exigés par le Marchand.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Le montant dû par l’Utilisateur est indiqué avant la validation de l’Ordre de commande par celui-ci, ainsi que sur la confirmation de l’Ordre de commande transmise par courrier électronique par la Société à l’Utilisateur.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 8.2. Ordre de paiement
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Dans le cadre de sa prestation, la Société utilisera les sommes versées par l'Utilisateur sur son Porte-Monnaie Électronique en vue du paiement par la Société du ou des produits commandés auprès du Marchand. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En cas de fraude ou infraction dont l'Utilisateur serait l'auteur, la Société se réserve le droit de prendre unilatéralement et immédiatement les mesures appropriées à la situation, et notamment le gel des sommes déposées sur ses comptes ainsi que toutes sanctions qui lui paraîtraient nécessaires. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 8.3. Modes de paiement
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Le paiement s'effectuera, sauf indisponibilité du serveur, immédiatement sur Internet, par l’intermédiaire du service de paiement Mangopay tel que prévu à l’article 6 des présentes CGU. 
      %p.p2
        %span.s1
          %b
            %i
        %br/
      %p.p3
        %span.s1
          %b
            %i 8.4. Confirmation de paiement
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Au regard du Service proposé, l’opération sera considérée comme valide après confirmation de l’accord de paiement bancaire. En cas de refus de la banque, l’ordre donné à la Société par l’Utilisateur en vue de la réalisation d’une commande en son nom et pour son compte sera automatiquement annulé.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En tout état de cause, la Société se réserve le droit de refuser tout Ordre de commande en cas i) de litige existant avec L’Utilisateur, ii) de non-paiement total ou partiel d'un Ordre de commande précédent par l’Utilisateur, iii) de refus d'autorisation de paiement par carte bancaire des organismes bancaires, iv) de non-paiement ou de paiement partiel. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La responsabilité de la Société ne pourra alors en aucun cas être engagée.
      %p.p2
        %span.s1
          %b
            %i
        %br/
      %p.p3
        %span.s1
          %b
            %i 8.5. Lutte contre les fraudes aux cartes bancaires
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Dans le cadre de sa politique de sécurité et de lutte contre la fraude en ligne, les données personnelles indiquées lors de l'inscription font l'objet d'un traitement automatisé, tel que prévu par l'article 12 des présentes CGU, afin de prévenir d'éventuels abus et/ou infractions. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Le Société se réserve le droit de procéder à toutes vérifications ou demandes complémentaires d’information à l’Utilisateur afin de renforcer sa lutte contre les fraudes aux cartes bancaires. 
      %p.p7
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 9 – Responsabilité
      %p.p2
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1
          %b
            %i 9.1 – Produit/Produits livré(s) par le Marchand
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Conformément à l’article 3.1 des présentes CGU, la Société rappelle qu’elle n’est qu’un intermédiaire à l’opération d’achat envisagée par l’Utilisateur et que, par conséquent, elle ne saurait être confondue avec le Marchand auprès duquel la commande est effectivement passée.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Dès lors, la responsabilité de la Société ne saurait être engagée en cas de défaillance du Marchand à exécuter ses obligations. Seule la responsabilité du Marchand pourra et devra être recherchée par l’Utilisateur. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En cas de litige relatif au(x) produit(s) commandé(s) par l’intermédiaire du Service, l’Utilisateur devra se référer aux Conditions Générales de Vente du Marchand qu’il a préalablement acceptées conformément à l’article 7.2 des présentes CGU, ceci afin de déterminer les modalités de résolution du différend l’opposant au Marchand. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 9.2 – Utilisation du Service 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur s’engage à prendre toutes les dispositions nécessaires à la sécurisation de son Appareil mobile, ou de ses appareils pouvant se connecter au web, afin d’en garantir la protection afin d’éviter des usages non autorisés et/ou frauduleux du Service avec son Appareil mobile, ou tout autre appareil pouvant se connecter au web, notamment en cas de vol ou de perte. Si de tels événements devaient survenir, la responsabilité de la Société ne pourrait être engagée en cas d’utilisation de son Service. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La responsabilité de la Société ne saurait être mise en cause pour tous les inconvénients ou dommages inhérents à l’utilisation d’un ordinateur et/ou d’un Appareil mobile, d’un réseau informatique ou du réseau Internet.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En particulier, la Société ne peut en aucun cas être tenu responsable d’une rupture de service, d’une intrusion extérieure ou de la présence d’un virus informatique.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Pour toutes les étapes d’accès à l’Application, notamment la consultation, le remplissage de formulaire, la passation de l’Ordre de commande, le paiement ainsi que tout autre service disponible sur le Site, la Société n’a qu’une obligation de moyen.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La Société ne pourra être tenue responsable de tous dommages matériels, immatériels ou corporels engendrés par le dysfonctionnement ou la mauvaise utilisation d’un ou des produits achetés sur le Site. 
      %p.p7
        %span.s1
          %b
        %br/
      %p.p7
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 10 – Résiliation
      %p.p7
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1
          %b
            %i 10.1 – A l’initiative de l’Utilisateur
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          L'Utilisateur pourra à tout moment résilier son inscription au Service en adressant un message électronique à l'attention du Support Utilisateurs à l’adresse électronique suivante :
          = succeed "," do
            %a{href: "mailto:support@shopelia.fr"}
              %span.s2 support@shopelia.fr
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La Société s'engage à procéder dans les plus brefs délais à la résiliation du Service dès réception de la demande adressée par l’Utilisateur.
      %p.p7
        %span.s5
          %b
        %br/
      %p.p3
        %span.s1
          %b
            %i 10.2 – A l’initiative de la Société
      %p.p7
        %span.s5
          %b
        %br/
      %p.p3
        %span.s1 Les utilisateurs sont responsables de lʼutilisation du Service, de leurs actes et doivent respecter les règles des présentes CGU en agissant de manière compatible avec le Service et les législations et réglementations en vigueur.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La Société est autorisée à utiliser toutes les mesures nécessaires pour prévenir ou détecter n’importe quel usage illicite ou frauduleux de son Service.
      %p.p2
        %span.s1
        %br/
      %p.p9
        %span.s1 En cas de non respect par l’Utilisateur de l'une quelconque des dispositions des présentes CGU, la Société se réserve le droit, sans préavis ni indemnité, et en tenant compte de la gravité du manquement reproché, de :
      %ul
        %li.li9
          %span.s3
          %span.s1 informer l’Utilisateur de ce manquement et lui demander d’y remédier,
        %li.li9
          %span.s3
          %span.s1 suspendre l’accès de l’Utilisateur à tout ou partie du Service,
        %li.li9
          %span.s3
          %span.s1 résilier l’accès de l’Utilisateur au Service (en supprimant son Compte Utilisateur), et ce, sans préjudice de toutes autres actions de droit commun qui pourraient être ouvertes à la Société ainsi que de tous dommages-intérêts auxquels cette dernière pourrait prétendre.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b Article 11 – Annulations 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b 11.1. Annulation de l’Ordre de commande :
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Tout Ordre de commande validé par l’Utilisateur dans les conditions de l’article 7.2 des présentes CGU est irrévocable. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Toute demande d’annulation de l’Ordre de commande est donc irrecevable.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b 11.2. Annulation de la commande :
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Toute demande d’annulation de la commande formulée par l’Utilisateur auprès de la Société ne saurait être accueillie, cette dernière ne disposant pas des pouvoirs nécessaires pour procéder à une telle annulation auprès du Marchand en vertu des présentes CGU.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Toutefois, l’Utilisateur demeure libre d’annuler la commande directement auprès du Marchand conformément aux dispositions légales et réglementaires existantes. 
      %p.p2
        %span.s1
          %b
        %br/
      %p.p2
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 12 – Protection des données personnelles
      %p.p7
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1 Le renseignement des informations nominatives collectées dans le cadre de l'inscription au Service est obligatoire, ces informations étant nécessaires pour passer l'Ordre de commande auprès du Marchand, mais aussi assuré auprès de lui l’enregistrement, le traitement et la livraison du ou des produits ainsi que pour l'établissement des documents nécessaires. Ces informations sont strictement confidentielles. Le défaut de renseignement implique l'impossibilité d'utilisation du Service.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur déclare accepter la conservation de ses données personnelles pendant toute la durée des relations contractuelles avec la Société. Elles seront supprimées dans les 12 mois suivant la fin desdites relations contractuelles quelle qu’en soit la cause. Celles-ci ne feront en aucun cas l'objet d'une cession ou divulgation à des tiers, si ce n'est sous forme de statistiques agrégées et non personnelles. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur est libre d’accéder à son Compte Utilisateur pour modifier et/ou supprimer les données personnelles qu’il a fournies. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La Société dispose d’un Correspondant Informatique et Libertés (ci-après « CIL ») en la personne du cabinet LEXENSIS Avocats Conseils (4, place du 18 juin 1940 – 75006 Paris). 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L'Utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données le concernant.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L’Utilisateur peut exercer son droit d’accès, de modification, de rectification, de suppression des données personnelles le concernant ainsi que consulter le registre des traitements des données personnelles en s’adressant au CIL à travers l’adresse cil@lexensis.com, et/ou en écrivant à l’attention de LEXENSIS Avocats Conseils, 4 place du 18 juin 1940, 75006 Paris. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En tout état de cause, l'Utilisateur veillera à rappeler ses nom, prénom, adresse et, le cas échéant, son numéro d'Utilisateur.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 La Société pourra adresser à l’adresse électronique de l’Utilisateur des informations et/ou des offres pour des services analogues. Il est toujours possible à l’Utilisateur de faire cesser les envois en se désinscrivant de la lettre d’information en cliquant sur le lien de désinscription contenu dans le message électronique qu’il a reçu sur son adresse électronique.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          Enfin, la Société pourra être amenée à communiquer des informations nominatives à ses sous-traitants et/ou partenaires commerciaux dans le cadre d’envoi par voie électronique d’informations et/ou d’offres pour des services analogues. S’il le souhaite, l'Utilisateur pourra ne pas recevoir des offres commerciales provenant de tiers partenaires, il devra dès lors cocher la case
          = succeed "\u{a0}" do
            %i « je ne souhaite pas recevoir de communication de la part des partenaires Shopelia».
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L'Utilisateur conserve la possibilité de refuser une telle communication, soit en ne donnant pas son consentement lors de l'inscription et/ou validation de sa commande, soit en manifestant a posteriori son refus par courrier postal ou courrier électronique, conformément aux dispositions susmentionnées.
      %p.p7
        %span.s1
        %br/
      %p.p7
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 13 – Propriété intellectuelle
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les présentes CGU n’emportent aucune cession de droits de propriété intellectuelle quels qu’ils soient, sur le Service Shopelia et l’Application de la Société, au profit de lʼUtilisateur. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 LʼUtilisateur reconnaît et accepte que les contenus (notamment les données, bases de données, logiciels, mise en page, charte graphique, photographies, vidéo, bandes sons, informations, illustrations, logos, marques, etc.) qui apparaissent ou sont disponibles sur le Service, sont protégés au titre des droits d’auteur, des marques, des brevets, des producteurs de base de données ou de tout autre droit reconnu par la législation en vigueur. 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En conséquence, toute copie, reproduction, représentation, adaptation, altération, modification, diffusion, intégrale ou partielle, des informations qui apparaissent ou sont disponibles sur le Service, qu’il s’agisse du contenu appartenant à la Société ou à un tiers, sans autorisation préalable, est illicite.
      %p.p2
        %span.s1
        %br/
      %p.p2
        %span.s1
          %b
        %br/
      %p.p6
        %span.s1
          %b Article 14 – Support  Utilisateurs 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Pour toutes questions relatives aux présentes CGU, ou au Service de manière général, l’Utilisateur est invité à prendre contact avec le support Utilisateur Shopelia, lequel est à disposition soit :
      %p.p2
        %span.s1
        %br/
      %ul
        %li.li3
          %span.s3
          %span.s1 Par téléphone du lundi au vendredi de 9h à 20h au n° suivant : 01 82 09 15 44 
      %p.p12
        %span.s1
        %br/
      %ul
        %li.li3
          %span.s3
          %span.s1
            par courrier électronique, à l’adresse suivante :
            = succeed "." do
              %a{href: "mailto:support@shopelia.fr"}
                %span.s2 support@shopelia.fr
        %li.li3
          %span.s3
          %span.s1 par courrier, à l’adresse suivante :
      %p.p13
        %span.s1 Support SHOPELIA
      %p.p13
        %span.s1 PRIXING S.A.S
      %p.p13
        %span.s1 21 rue d’Aboukir
      %p.p13
        %span.s1 75002 Paris
      %p.p2
        %span.s1
        %br/
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b Article 15 – Stipulations diverses 
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 15.1 - Non-validité partielle
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Si une ou plusieurs stipulations des présentes CGU sont tenues pour non-valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 15.2 - Intégralité du contrat
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les présentes CGU et le récapitulatif de l’Ordre de commande transmis à l’Utilisateur forment un ensemble contractuel et constituent l'intégralité des relations contractuelles intervenues entre les Parties. En cas de contradiction entre ces documents, les CGU prévaudront.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1
          %b
            %i 15.3 -. Force majeure
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 la Société ne sera pas responsable de la non-exécution totale ou partielle de ses obligations au titre du présent contrat, si cette non-exécution est provoquée par un événement constitutif de force majeure, notamment en cas de perturbation ou grève totale ou partielle notamment des services postaux et moyens de transport et/ou communications, inondation, incendie.
      %p.p3
        %span.s1 Seront considérés comme cas de force majeur les événements remplissant les critères fixés par la jurisprudence de la Cour de cassation.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 En présence d'un événement constitutif de force majeure, la Société en avisera l’Utilisateur dans les cinq (5) jours ouvrables suivant la survenance ou la menace de cet événement.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les Parties conviennent qu'elles devront se concerter dans les meilleurs délais afin de déterminer ensemble les modalités d'exécution de la commande pendant la durée du cas de force majeure.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Au-delà d'un délai de un (1) mois d'interruption pour cause de force majeure, la Société pourra ne pas honorer la commande, à charge pour elle de rembourser L’Utilisateur le cas échéant, dans un délai de trente (30) jours.
      %p.p2
        %span.s1
        %br/
      %p.p2
        %span.s1
          %b
        %br/
      %p.p3
        %span.s1
          %b Article 16 – Loi applicable – Juridictions compétentes
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 Les présentes conditions sont soumises à la loi française.
      %p.p2
        %span.s1
        %br/
      %p.p3
        %span.s1 L'attribution de compétence en cas de litige,  et à défaut d'accord amiable entre l’Utilisateur et la Société, est donnée aux Tribunaux compétents de Paris, nonobstant pluralité de défendeurs et/ou appel en garantie, même pour les procédures d'urgence ou les procédures conservatoires en référé ou par requête. 
      .spacer40
