<div class="blurred-background-picture height-60 relative-block">
  <div class="stick-to-bottom">
    <div class="row-container">
      <div class="float-left iphone-top">
        <%= image_tag("flink/home/iphone_top.png", :alt => "Flink") %>
      </div>
      <div>
        <div class="text-aligned-center padding-top-20">
          <%= image_tag("flink/common/logo.png", :alt => "Flink") %>
        </div>
        <div class="text-aligned-center margin-top-30">
          <span class="large-title">Discover, get inspired and share trendy<br/>street style looks from top fashion bloggers.</span>
        </div>
        <div class="text-aligned-center margin-top-50">
          <%= link_to flink_appstore_url, class: "medium-title" do %>
           Get the app now &nbsp;<%= icon('arrow-circle-down') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="white height-40">
  <div class="row-container">
    <div class="float-left">
      <%= image_tag("flink/home/iphone_bottom.png", :alt => "Flink") %>
    </div>
    <div class="text-aligned-center padding-top-50">
      <div>
        <%= link_to image_tag("flink/common/appstore_badge.png", :alt => "Flink"), flink_appstore_url, target: '_blank' %>
        <%= link_to "Explore trendy looks", flink_explore_path, class: "rounded-button-pink margin-left-20" %>
      </div>
      <ul class="padding-top-20">
        <li>©2014 Flink</li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
        <li><%= link_to icon('instagram fa-2x'), flink_instagram_url %></li>
        <li><%= link_to icon('facebook fa-2x'), flink_facebook_url %></li>
        <li><%= link_to icon('twitter fa-2x'), flink_twitter_url %></li>
      </ul>
    </div>
  </div>
</div>