.span2
  .numberbox
    %span.number
      - if stat[:type] == :number
        = number_with_delimiter(stat[:value])
      - elsif stat[:type] == :percent
        = raw "#{sprintf("%.2f", stat[:value])}<span style='font-size:26px'>%</span>"
      - elsif stat[:type] == :time
        = time_ago_in_words(stat[:value].seconds.from_now).gsub("environ ", "").gsub("around ", "")
        %br
    %strong
      = stat[:name]