%section.header
  %header
    %h1 Viking
    %h2 Status & performance

.container-fluid
  .row-fluid
    .span4{style:"min-width: 450px;max-width: 450px;"}
      %article.coolbox
        %h3 Global success rate 
        %h4
          = @total.to_i
        %input.successKnob{value:"#{number_to_knob(@performance)}"}
    - @merchant_stats.each do |s|
      .span2{style:"min-width: 210px;max-width: 210px;"}
        %article.coolbox{class:"#{viking_merchant_background_class(s)}"}
          %h3 
            = s[:name]
          %h4
            = s[:total].to_i
          %input.merchantKnob{value:"#{number_to_knob(s[:rate])}"}
  .row-fluid
    .span12
      %article.coolbox
        %h3 Failures list
        %table.table.table-striped#vikings{data:{source:"#{admin_viking_index_url(format: 'json')}"}}
          %thead
            %tr
              %th Product URL
              %th Product ID
              %th Missing data
              %th{width:150} Date
              %th{width:300} &nbsp;
          %tbody


