.row
  .hidden-phone
    .spacer25
    .span4.offset4
      = link_to image_tag("logo_shopelia.png"), "https://shopelia.com"
.hidden-phone
  .spacer25
.row
  .box.span9.offset1
    %h2 Suivi de votre commande :
    %br
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th.hidden-phone N° de commande
          %th Nom de l'article
          %th.hidden-phone Nom du marchand
          %th Prix total
          %th Etat de la commande

      %tbody
        %tr{class: state[:state]}
          %td.hidden-phone= @order.uuid
          %td= @order.order_items.first.product.name
          %td.hidden-phone= @order.merchant.name
          %td= number_to_currency(@order.expected_price_total.round(2))
          %td= state[:name]

    .row-fluid
      .span6
        = link_to(image_tag(@order.order_items.first.product.image_url),@order.order_items.first.product.url)
      .span6
        .spacer20.visible-phone
        .row
          %h4 Détails de votre commande :
          %p
            Vous avez commandé
            %b= link_to(@order.order_items.first.product.name,@order.order_items.first.product.url)
            chez
            %b= link_to(@order.merchant.name,@order.merchant.url)
            via le service
            %b=link_to "Shopelia", "https://shopelia.com"
          %p Vous serez livré à l'adresse de livraison suivante :
          %b.span10
            %ul.unstyled
              %li #{@order.address.first_name} #{@order.address.last_name}
              %li= "#{@order.address.address1} #{@order.address.address2}"
              %li= " #{@order.address.city}, #{@order.address.zip}  #{@order.address.state} "
              %li= @order.address.country.name
        - if order_completed?
          .row
            %h4
              Pour suivre votre commande chez votre marchand
              =link_to(@order.merchant.name,@order.merchant.url)
              Veuillez vous connecter avec les identifiants suivants :
            %dl.dl-horizontal
              %dt Votre Compte:
              %dd= @order.merchant_account.login
              %dt Votre Mot de passe:
              %dd= @order.merchant_account.password


.spacer50




