<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Shopelia - Votre commande a confirmée par le marchand</title>
    <%= render "order_style" %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ecf0f1">
      <tr>
        <td valign="top">
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <%= render "order_header" %>
            <!--Header Text-->
            <tr>
              <td valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td bgcolor="#69bf6a">
                      <table class="table600" bgcolor="#46b758" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td>
                            <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
                                <td height="25" colspan="2"></td>
                              </tr>
                              <!--Article Title-->
                              <tr>
                                <td width="42" align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-size:24px; color:#ffffff;"><%= image_tag("emails/icon_check.png", width:32, height:32) %></td>
                                <td align="left" valign="middle" style="font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-size:24px; color:#ffffff;">Félicitations ! Commande réussie</td>
                              </tr>
                              <!--End Article Title-->
                              <tr>
                                <td height="10" colspan="2" align="left" valign="top"></td>
                              </tr>
                              <!--Content-->
                              <tr>
                                <td colspan="2" align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:14px; color:#fefefe; line-height:24px;">
                                  Votre commande a été acceptée par <srong><%= @vendor %></strong>
                                  <br>
                                  Vous allez recevoir un email de confirmation de leur part dans les minutes qui suivent.
                                </td>
                              </tr>
                              <!--End Content-->
                              <tr>
                                <td height="35" colspan="2" align="left" valign="top"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!--End Header Text-->
            <!--1:3 Panel Icon  [Right Text]-->
<% @order.order_items.each do |item| %>            
  <%= render "order_item", order_item:item %>
<% end %>
            <!--2:2 Content-->
            <tr>
              <td valign="top">
                <table class="table600" bgcolor="#ffffff" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="30"></td>
                  </tr>
                  <tr>
                    <td width="287">
                      <!--1:2 Content [Left]-->
                      <table class="table2-2" width="287" border="0" align="right" cellpadding="0" cellspacing="0">
                        <tr>
                          <td valign="top">
                            <table class="table550" width="237" border="0" align="center" cellpadding="0" cellspacing="0">
                              <!--Content-->
                              <tr>
                                <td align="left" valign="top">
                                  &nbsp;
                                </td>
                                <td align="right" valign="top">
                                  &nbsp;
                                </td>
                              </tr>
                              <!--Article Title-->
                              <tr>
                                <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-size:20px; color:#34495e; padding-top:10px;">&nbsp;</td>
                                <td align="right" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-size:20px; color:#34495e; padding-top:10px;">&nbsp;</td>
                              </tr>
                              <!--End Article Title-->
                              <!--End Content--> 
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!--End 1:2 Content [Left]--> 
                    </td>
                    <td width="26">
                      &nbsp;
                    </td>
                    <td width="287">
                      <!--1:2 Content [Right]-->
                      <table class="table2-2" width="287" border="0" align="right" cellpadding="0" cellspacing="0">
                        <tr>
                          <td valign="top">
                            <table class="table550" width="237" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
                                <td height="10" align="left" valign="top"></td>
                                <td height="10" align="left" valign="top"></td>
                              </tr>
                              <!--Content-->
                              <tr>
                                <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:13px; color:#666666; line-height:24px; border-bottom:1px dashed #bdc3c7; padding-bottom:5px;">
                                  Prix Total<br />
                                  Frais de livraison
                                </td>
                                <td align="right" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:13px; color:#666666; line-height:24px; border-bottom:1px dashed #bdc3c7; padding-bottom:5px;">
                                  <strong><%= number_to_currency(@order.billed_price_product) %></strong><br />
                                  <strong><%= number_to_currency(@order.billed_price_shipping) %></strong>
                                </td>
                              </tr>
                              <!--Article Title-->
                              <tr>
                                <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-size:20px; color:#34495e; padding-top:10px;">Total payé</td>
                                <td align="right" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-size:20px; color:#34495e; padding-top:10px;"><span style="font-family: Helvetica, Arial, sans-serif; color:#46b758; font-weight:bold;"><%= number_to_currency(@order.billed_price_total) %></span></td>
                              </tr>
<% if @order.meta_order.billing_solution.eql?("mangopay") %>
                              <tr>
                                <td colspan="2" align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:10px; color:#666666; line-height:12px;">
                                  <br>
                                  Votre carte a été débitée de ce montant sous le libellé <b>INFO SHOPELIA FR by MangoPay</b>
                                </td>
                              </tr>
<% end %>                              
                              <!--End Article Title-->
                              <!--End Content--> 
                            </table>
                          </td>
                        </tr>
                      </table>
                      <!--End 1:2 Content [Right]--> 
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" height="30" style="border-bottom:1px dashed #bdc3c7;"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <!--End 2:2 Content-->
            <!--1:1 Content-->
            <tr>
              <td valign="top">
                <table bgcolor="#FFFFFF" class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="30"></td>
                  </tr>
                  <tr>
                    <td valign="top">
                      <table class="table550" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                        <!--Article Title-->
                        <tr>
                          <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-weight:bold; font-size:18px; color:#34495e;">Suivi de commande</td>
                        </tr>
                        <!--End Article Title-->
                        <tr>
                          <td height="10" align="left" valign="top"></td>
                        </tr>
                        <!--Content-->
                        <tr>
                          <td align="left" valign="top" style="font-family: Helvetica, Arial, sans-serif; font-size:13px; color:#666666; line-height:24px;">
                            Votre achat a été effectué chez <%= @vendor %> avec le compte suivant&nbsp;:
                            <p>
                              <span style="font-size: 13px">
                                <%= link_to @vendor_url, @vendor_url, style:"color:#0088cc; text-decoration: none; font-weight: bold;" %><br>
                                <b>Identifiant :</b> <%= @account.login %><br>
                                <b>Mot de passe :</b> <%= @account.password %>
                              </span>
                            <p>
                            Pour toute question relative à votre achat, connectez-vous directement
                            chez le marchand avec ce compte.
                          </td>
                        </tr>
                        <!--End Content--> 
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="30" style="border-bottom:1px dashed #bdc3c7;"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <!--End 1:1 Content-->
            <!--Footer-->
            <tr>
              <td valign="top">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="25">
                      <table bgcolor="#FFFFFF" class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td height="20"></td>
                        </tr>
                        <tr>
                          <td align="justify" style="font-family: Helvetica, Arial, sans-serif; font-size:12px; font-weight: italic; color:#95a5a6; padding: 10px;">
<% if @order.cvd_solution.eql?("amazon") %>
                            Shopelia utilise les services de Cheques Cadeaux Amazon pour effectuer le 
                            paiement de la transaction, vous retrouverez cette information dans 
                            l'email de confirmation d'Amazon
                            <p>
<% end %>                  
                            Toute l'équipe de Shopelia vous remercie d'avoir utilisé le service et vous dit à bientôt pour une prochaine commande !
                          </td>
                        </tr>
                        <tr>
                          <td height="30" align="left" valign="bottom">
                            <%= image_tag("emails/fold_bottom_left.jpg", width:15, height:27, style:"float:left;") %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <%= render "order_footer" %>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!--End Footer--> 
    </table>
  </body>
</html>
