<section class="header">
  <header>
    <h1>Statistiques</h1>
  </header>
</section>

<article class="coolbox">
  <h3>Les utilisatrices les plus actives cette semaine</h3>
  <table class="tops">
    <thead>
      <th>Classement</th>
      <th>Avatar</th>
      <th>Username</th>
      <th>Ville</th>
      <th>Région</th>
      <th>Nombre de likes</th>
    </thead>
    <tbody>
      <% @top_active.each_with_index do |flinker, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td>
            <% if flinker.avatar.url !~ /missing/ %>
              <img src="<%= flinker.avatar.url %>" class="avatar"></img>
            <% else %>
              <span class="no-avatar"></span>
            <% end %>
          </td>
          <td><%= link_to flinker.username, admin_flinker_path(flinker) %></td>
          <td><%= flinker.city %></td>
          <td><%= flinker.area %></td>
          <td><%= flinker.count %></td>
        </tr>
      <% end %>    
    </tbody>
  </table>
</article>

<article class="coolbox">
  <h3>Les looks les plus aimés depuis une semaine</h3>
  <table class="tops">
    <thead>
      <th>Flinker</th>
      <th>Look</th>
      <th>Nombre de likes</th>
    </thead>
    <tbody>
      <% @likes.each do |like| %>
        <% look = Look.where(id:like.look_id).includes(:flinker).first%>
        <tr>
          <td><%= link_to look.flinker.username, admin_flinker_path(look.flinker) %></td>
          <td><%= link_to look.name, admin_look_path(look) %></td>
          <td><%= like.count %></td>
        </tr>
      <% end %>    
    </tbody>
  </table>
</article>
<article class="coolbox">
  <h3>Les looks les plus aimés hier</h3>
  <table class="tops">
    <thead>
      <th>Flinker</th>
      <th>Lien vers l'article</th>
      <th>Nombre de likes</th>
    </thead>
    <tbody>
      <% Statistic.top_liked_looks_for_period(Date.today - 1.day).each do |like| %>
        <tr>
          <% look = Look.find(like.look_id) %>
          <td><%= link_to look.flinker.username, admin_flinker_path(look.flinker) %></td>
          <td><%= link_to look.url, look.url %></td>
          <td><%= like.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>

<article class="coolbox">
  <h3>Les looks les commentés hier</h3>
  <table class="tops">
    <thead>
      <th>Flinker</th>
      <th>Lien vers l'article</th>
      <th>Nombre de commentaires</th>
    </thead>
    <tbody>
      <% Statistic.top_commented_looks_for_day(Date.today - 1.day).each do |comment| %>
        <tr>
          <% look = Look.find(comment.look_id) %>
          <td><%= link_to look.flinker.username, admin_flinker_path(look.flinker) %></td>
          <td><%= link_to look.url, look.url %></td>
          <td><%= comment.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>

<article class="coolbox">
  <h3>Statistiques : aujourd'hui</h3>
  <div class="dataTables_wrapper form-inline" role="grid">
    <%= render partial:'table', locals:{collection:@statistics_for_day, table_id:'statistics-for-day'}%>
  </div>
</article>

<article class="coolbox">
  <h3>Statistiques : depuis la date de lancement de Flink Fashion Link</h3>
  <div class="dataTables_wrapper form-inline" role="grid">
    <%= render partial:'table', locals:{collection:@statistics, table_id:'statistics'}%>
  </div>
</article>

