= simple_form_for [:admin, @flinker] do |f|
  = f.input :name
  = f.input :username
  = f.input :url
  = f.input :email
  = f.input :is_publisher, collection:[true, false]
  = f.input :verified, collection:[true, false]
  = f.input :staff_pick, collection:[true, false]
  = f.input :universal, collection:[true, false]
  = f.select :country_id, options_for_select(actual_countries_for_select, selected:@flinker.country.try(:id))
  = f.button :submit, "Validate", :class => 'btn-success'
