%section.header
  %header
    %h1 Flinker #{@flinker.name}
    %h2 
      = @flinker.url

.container-fluid
  .row-fluid
    - @stats.each do |stat|
      = render "widgets/number_box", stat:stat
  .row-fluid
    .span3
      %article.coolbox
        %h3 Details
        = render "form"
        %hr
        %select.flinker-theme-select{id:"assign-flinker-to-theme", "data-flinker-id" => @flinker.id}
          =options_for_select(themes_for_select(default:"Ajouter ce flinker à une collection"))
        
    .span9
      %article.coolbox
        %h3 Looks
        - @flinker.looks.where(is_published:true).order("created_at desc").each do |look|
          .img-block
            %div.actions
              %span.bitly-link=look.bitly_url
              %select.look-theme-select{id:"assign-look-to-theme", "data-look-id" => look.id}
                =options_for_select(themes_for_select(default:"Ajouter à une collection"))
            = link_to image_tag(look.look_images.first.picture.url(:large), class:"thumb"), admin_look_path(look)
  .row-fluid
    .span12
      %article.coolbox
        %h3 Last liked looks
        - @flinker.flinker_likes.order('created_at desc').limit(6).map(&:look).each do |look|
          .img-block
            %div.actions
            = link_to image_tag(look.look_images.first.picture.url(:large), class:"thumb"), admin_look_path(look)
              
