#sessionForm
  = simple_form_for resource, as:resource_name, remote: true, wrapper: :bootstrap, url:session_path(resource_name), html:{class:'modal-form form-horizontal',id:'loginForm'} do |f|
    .modal-body
      .controls
        #sessionError
          = I18n.t("app.invalid_credentials")
      = f.input :email, autofocus:true, required:false
      = f.input :password, required:false
      .controls
        = link_to t("app.forgot_your_password"), new_password_path(resource_name)
    .modal-footer
      %a{:class => 'btn btn-large', "data-dismiss" => "modal"}
        = I18n.t("app.cancel")
      = f.button :submit, I18n.t("app.sign_in"), class:'btn-success btn-large', id:'submit-form', disable_with:I18n.t("app.wait")

:javascript
  $(document).ready(function() {
    $('#loginForm').on('ajax:error', function(data, xhr, response) { 
      $('#sessionError').html(xhr.responseText).show('fast');
    });
  });