#cardForm
  = simple_form_for @card, wrapper: :compact, remote: true, validate:true,  html:{class:'modal-form'} do |f|
    = f.error_notification
    %ul
      - @card.errors.full_messages.each do |msg|
        %li= msg

    .modal-body
      .row-fluid
        .row
          .span6
            = f.input :number, autofocus:true, input_html:{'tooltip-position' => 'right'}
        .row
          .span2
            = f.select :exp_month, PaymentCard.months
          .span2
            = f.select :exp_year, PaymentCard.years
          .span2
            = f.input :cvv, input_html:{'tooltip-position' => 'right'}
    
    .modal-footer
      %a{:class => 'btn btn-large', "data-dismiss" => "modal"}
        = I18n.t("app.cancel")
      = f.button :submit, I18n.t("payment_cards.add"), class:'btn-success btn-large', disable_with:I18n.t("app.wait")

