.row.well.fade-area{:id => "card#{payment_card.id}"}
  .span10
    %address
      = payment_card.number[0..1] + "XXXXXXXXXX" + payment_card.number[12..15]
      %br
      = "#{payment_card.exp_month}/#{payment_card.exp_year}"
      %br
  .span2
    %a{:class => "btn", :style => "display:none", :id => "deleteCardButton-#{payment_card.id}", "target-modal" => "deleteCardModal"}
      %i{:class => "icon-trash"}