%h1= t('app.my_payment_cards')
- current_user.payment_cards.each do |card|
  .row.well.fade-area{:id => "card#{card.id}"}
    .span10
      %address
        = card.number[0..1] + "XXXXXXXXXX" + card.number[12..15]
        %br
        = "#{card.exp_month}/#{card.exp_year}"
        %br
    .span2
      %a{:class => "btn", :style => "display:none", :id => "deleteCardButton-#{card.id}", "target-modal" => "deleteCardModal"}
        %i{:class => "icon-trash"}

.row
  %a{:class => "btn btn-success modal-button", :id => "cardButton", "target-modal" => "cardModal", "target-url" => "#{new_payment_card_path}"}
    %i{:class => "icon-plus icon-white"}
    = t("users.registration.finalize.add_payment_card")
