%section.header
  %header
    %h1 Device #{@device.id}
    %h2 
      = @device.uuid

.container-fluid
  .row-fluid
    - @stats.each do |stat|
      = render "widgets/number_box", stat:stat
  .row-fluid
    .span3
      %article.coolbox
        %h3 Informations
        %strong Os :
        = @device.os
        %br
        %strong Os version :
        = @device.os_version
        %br
        %strong App version :
        = @device.version
        %br
        %strong Phone type :
        = @device.phone
        %br
        %strong Created at :
        = @device.created_at
        %br
        %strong Updated_at :
        = @device.updated_at
        %p
        %strong Referrer :
        %br
        = @device.referrer
      %br
    .span9
      %article.coolbox
        %h3 Events
        %table.table.table-striped#events{data:{source:"#{admin_device_url(@device, format: 'json')}"}}
          %thead
            %tr
              %th Type
              %th Tracker
              %th Product
              %th Date
