<p>
  <%= image_tag @theme.theme_cover.picture.url(:large)%>
  <%= @theme.title_for_display %>
  <a href="#" id="close-overlay">Fermer</a>
</p>  

<%= form_for [:admin, @theme], html:{'data-theme-id' => @theme.id, multipart:true} do |f| %>
  <%= f.submit 'Mettre à jour', id:"update-button" %>
  
  <table>
    <thead>
      <th>Hauteur</th>
      <th>Position</th>
      <th>Publication</th>
      <th>Pré-publication</th>
      <th>Diffusion</th>
      <th>Couverture</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= f.text_field :cover_height, class:'cover-height-input' %>
        </td>
        <td>
          <%= f.text_field :position, class:'position-input' %>
        </td>
        <td>
          <%= f.check_box :published %>
        </td>
        <td>
          <%= f.check_box :dev_publication %>
        </td>
        <td>
          <%= f.select :country_ids, options_for_select(actual_countries_for_select, selected:@theme.countries.first.try(:id)), prompt: "Tous les pays" %>
        </td>
        <td>
          <%= f.fields_for :theme_cover do |ff| %>
            <%= ff.file_field :picture, class:"custom-file-input" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <fieldset class="theme-attributes">
    <div class="block-wrapper">
      <%= f.label :title, 'Titre' %>
      <p class="title-block">
        <% if @theme.title.blank? %>
          <span class="font-tag">HelveticaNeue</span>
          <%= text_field_tag nil, '', class:'title-part', 'data-font' => 'HelveticaNeue' %>
        <% end %>
      </p>
      <%= f.text_area :title %>
      <div class="title-style-selects">
        <%= select_tag nil, options_for_select(fonts_for_select, selected:'HelveticaNeue'), id:'title-font-select' %>
        <%= select_tag nil, options_for_select(fonts_sizes_for_select, selected:20), id:'title-fontsize-select' %>
        <%= link_to 'Effacer', '#', id:'title-reset', class:'titles-reset' %>
      </div>
    </div>

    <div class="block-wrapper">
      <%= f.label :subtitle, 'Sous titre' %>
      <p class="subtitle-block">
        <% if @theme.subtitle.blank? %>
          <span class="font-tag">HelveticaNeue-Thin</span>
          <%= text_field_tag nil, '', class:'subtitle-part', 'data-font' => 'HelveticaNeue-Thin' %>
        <% end %>
      </p>
      <%= f.text_area :subtitle %>
      <div class="subtitle-style-selects">
        <%= select_tag nil, options_for_select(fonts_for_select, selected:'HelveticaNeue-Thin'), id:'subtitle-font-select' %>
        <%= select_tag nil, options_for_select(fonts_sizes_for_select, selected:14), id:'subtitle-fontsize-select' %>
        <%= link_to 'Effacer', '#', id:'subtitle-reset', class:'subtitles-reset' %>
      </div>
    </div>
    
    <!-- <div class="block-wrapper">
      <%= f.label :hashtags, ' Hashtags' %>
      <div class="hashtags-block">
        <%= f.fields_for :hashtags do |ff| %>
          <p>
            <%= ff.text_field :name, class: "hashtag-input" %>
            <%= ff.label :_destroy, 'x', class:'hashtag-destroy-label' %>
            <%= ff.check_box :_destroy, class:'hashtag-destroy-checkbox' %>
          </p>
        <% end %>
        <br/>
        <%= f.submit '+', class:"btn hashtag-submit" %>
      </div>
    </div> -->
    
    <div class="block-wrapper">
      <%= f.label :looks, 'Looks', id:'looks-label' %>
      <div id="looks-index-container">
        <%= render partial: 'admin/themes/looks/index'%>
      </div>
    </div>
    
    <div class="block-wrapper">
      <%= f.label :flinkers, 'Blogueuses', id:'blogeuz-label' %>
      <div id="flinkers-index-container">
        <p class="add-flinker-block">
          <%= text_field_tag :flinker_id, nil, 'data-id' => nil %>
          <%= link_to "Ajouter cette blogueuse", "#", id:"add-flinker-button" %>
        </p>
        
        <%= render partial: 'admin/themes/flinkers/index'%>
      </div>
    </div>
    
  </fieldset>

<% end  %>  
