<p>
  <a href="#" id="close-overlay">Fermer</a>
  <%= form_for [:admin, @theme] do |f| %>
    <%= f.text_field :title, placeholder:'Intitulé de la collection' %>
    
    <h4>Hashtags</h4>
    <hr/>
    
    <%= f.fields_for :hashtags do |ff| %>
      <%= ff.text_field :name, class: "hashtag-input" %>
    <% end %>

    <h4>Couverture</h4>
    <hr/>
    <%= image_tag @theme.theme_cover.picture.url(:large)%>
    
    <%= f.fields_for :theme_cover do |ff| %>
      <%= ff.file_field :picture, class:"custom-file-input" %>
    <% end %>
    
    <h4>Looks</h4>
    <hr/>
    <table class="looks">
      <thead>
        <th>Flinker</th>
        <th>Look</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @theme.looks.each do |look| %>
          <tr>
            <td><%= link_to look.flinker.username, admin_flinker_path(look.flinker) %></td>
            <td><%= link_to look.name, admin_look_path(look) %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <h4>Flinkers</h4>
    <hr/>
    <table class="flinkers">
      <thead>
        <th>Flinker</th>
        <th>Nombre de looks dans cette collections</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% @theme.flinkers.each do |flinker| %>
          <tr>
            <td><%= link_to flinker.username, admin_flinker_path(flinker) %></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
        
    <%= f.submit 'Mettre à jour', class:"btn" %>
  <% end  %>  
</p>  
