<p>
  <a href="#" id="close-overlay">Fermer</a>
  <%= form_for [:admin, @theme], html:{'data-theme-id' => @theme.id, multipart:true} do |f| %>
    <%= f.submit 'Mettre à jour', class:"btn" %>
    
    <fieldset class="theme-attributes">
      
      <%= f.label :title, ' Titre' %>
      <p class="title-block">
        <% if @theme.title.blank? %>
          <span class="font-tag">HelveticaNeue</span>
          <%= text_field_tag nil, '', class:'title-part', 'data-font' => 'HelveticaNeue' %>
        <% end %>
      </p>
      <%= f.text_area :title, placeholder:'Intitulé de la collection' %>
      <div class="title-style-selects">
        <%= select_tag nil, options_for_select(fonts_for_select, selected:'HelveticaNeue'), id:'title-font-select' %>
        <%= select_tag nil, options_for_select(fonts_sizes_for_select, selected:20), id:'title-fontsize-select' %>
        <%= link_to 'Effacer', '#', id:'title-reset', class:'titles-reset' %>
      </div>
      <br/>

      <%= f.label :subtitle, ' Sous titre' %>
      <p class="subtitle-block">
        <% if @theme.subtitle.blank? %>
          <span class="font-tag">HelveticaNeue-Thin</span>
          <%= text_field_tag nil, '', class:'subtitle-part', 'data-font' => 'HelveticaNeue-Thin' %>
        <% end %>
      </p>
      <%= f.text_area :subtitle, placeholder:'Sous titre' %>
      <div class="subtitle-style-selects">
        <%= select_tag nil, options_for_select(fonts_for_select, selected:'HelveticaNeue-Thin'), id:'subtitle-font-select' %>
        <%= select_tag nil, options_for_select(fonts_sizes_for_select, selected:14), id:'subtitle-fontsize-select' %>
        <%= link_to 'Effacer', '#', id:'subtitle-reset', class:'subtitles-reset' %>
      </div>
      <br/>

      <%= f.label :cover_height, ' Hauteur' %>
      <%= f.text_field :cover_height, class:'cover-height-input' %>
      <br/>
      
      <%= f.label :position, ' Position' %>
      <%= f.text_field :position, class:'position-input' %>
      <br/>
      
      <%= f.label :published, ' Publication' %>
      <%= f.check_box :published %>
      <br/>
      
      <%= f.label :hashtags, ' Hashtags' %>

      <div class="hashtags-block">
        <%= f.fields_for :hashtags do |ff| %>
          <p>
            <%= ff.text_field :name, class: "hashtag-input" %>
            <%= ff.label :_destroy, 'x', class:'hashtag-destroy-label' %>
            <%= ff.check_box :_destroy, class:'hashtag-destroy-checkbox' %>
          </p>
        <% end %>
      </div>

      <%= f.label :theme_cover, ' Couverture' %>
      <%= image_tag @theme.theme_cover.picture.url(:large)%>
      <%= f.fields_for :theme_cover do |ff| %>
        <%= ff.file_field :picture, class:"custom-file-input" %>
      <% end %>
      <br/>
      
      <%= f.label :looks, ' Looks' %>
      <div id="looks-index-container">
        <%= render partial: 'admin/themes/looks/index'%>
      </div>
      <br/>
      
      <%= f.label :flinkers, ' Blogeuses' %>
      <div id="flinkers-index-container">
        <%= render partial: 'admin/themes/flinkers/index'%>
      </div>
      
    </fieldset>
  <% end  %>  
</p>  
