<section class="header">
  <header>
    <h1>Collections</h1>
  </header>
</section>

<div class="themes-content">
  <% current_series = params[:series] || Theme.last_series %>
  
  <%= link_to 'Nouvelle collection', '/admin/themes', method:'post', id:"create-theme-link" %>
  <%= link_to 'Preview', '/admin/themes_preview', target:'blank', class:"themes-preview-link" %>
  <%= button_tag 'Dépublier toute les collections de cette série', id:"unpublish-series-button", class:'btn' %>
  
  <br/>
  <div>
    <% Theme.last_series.downto(0) do |series| %>
      <% selected = series == current_series.to_i %>
      <%= link_to "S#{series}", admin_themes_path(series:series), class:"series-link series-selected-#{selected}"%>
    <% end %>
  </div>
  
  <div class="theme-looks-images-overlay">
  </div>
  <div class="theme-edit-overlay">
  </div>
  
  <div>
    <%= render partial:'theme', collection:@themes.published(true) %>
  </div>
  <hr/>

  <div>
    <%= render partial:'theme', collection:@themes.pre_published %>
  </div>
  <hr/>

  <div>
    <%= render partial:'theme', collection:@themes.published(false) %>
  </div>
  
  <div class="overlay"></div>
  <div id="flinkers-usernames" data-usernames=<%= autocomplete_publishers_usernames %>
</div>
