.col-lg-4.cart-item-box.cart-item-monitor{:data => {:pid => "#{cart_item.product_version_id}", :uuid => "#{cart_item.uuid}"}}
  .cart-item
    = image_tag cart_item.product_version.image_url || "empty.png", class:"cart-item-img"
    .cart-item-actions
      - if cart_item.product.versions_expired?
        .cart-item-spinner
          .spinner
      .cart-item-info
        .info-block
          .cart-item-title= cart_item.product_version.name || cart_item.product.url
          .cart-item-price= number_to_currency(cart_item.product_version.price)
          %button.btn.btn-success.btn-lg.cart-item-details{:type => "button"}= t("app.cart_items.details")
          %button.btn.btn-danger.btn-lg.cart-item-delete{:type => "button"}
            %span.icon-trash.icon-large