.col-lg-4.cart-item-box{:data => {:pid => "#{cart_item.product.id}", :uuid => "#{cart_item.uuid}"}, :class => "#{cart_item.product.ready? ? "" : "cart-item-monitor"}"}
  .cart-item
    = image_tag cart_item.product_version.image_url || "empty.png", class:"cart-item-img"
    - if !cart_item.product.ready?
      .spinner
    .cart-item-actions
      .cart-item-info
        .info-block
          .cart-item-title= cart_item.product_version.name
          .cart-item-price= number_to_currency(cart_item.product_version.price)
          .cart-item-url{:class => "#{cart_item.product.ready? ? "hidden" : "" }"}= truncate(cart_item.product.url, length:80)
          .button-buy= t("app.cart_items.details")