.container-fluid
  .row-fluid
    .span2
      .spacer15
      =render("admin/collections/form" , georges: georges)
      %input#catalogue-search.form-control{placeholder: "Search catalogue by keywords", spellcheck: "false", type: "text"}
      %p#search-info
      %button.btn.btn-info.display-none#catalogue-previous-page
        %i.icon-chevron-left.icon-white
      %button.btn.btn-info.display-none#catalogue-next-page
        %i.icon-chevron-right.icon-white
      %button.btn.btn-success#catalogue-add-shuffle
        %i.icon-plus.icon-white
        shuffle
      %button.btn.btn-success#catalogue-add-top
        %i.icon-plus.icon-white
        top
      %button.btn.btn-success#catalogue-add-urls
        %i.icon-plus.icon-white
        urls
      .spacer10
      %p#tags-merchant
      %p#tags-category
    .span8
      .row
        #catalogue
          - 16.times do |i|
            .span3{style:"margin-left:10px;"}
              .catalogue-box.display-none{id: "catalogue-box-#{i}"}
                .catalogue-product
                  %img.catalogue-img{id: "catalogue-box-img-#{i}"}
                .catalogue-price{id: "catalogue-box-price-#{i}"}
                .catalogue-name{id: "catalogue-box-name-#{i}"}
                .catalogue-merchant{id: "catalogue-box-merchant-#{i}"}
    .span2
      .row-fluid
        #collection-items
          = render @collection.collection_items

:javascript
  $(document).ready(function() {
    monitorCollectionItems();
    window.catalogue = new Catalogue(16, #{@collection.id});
    $("#catalogue-add-shuffle").on("click", function() {
      $("#catalogue-add-urls-field").val(JSON.stringify(window.catalogue.shuffle(40)));
      showAddUrlsModal();
    });
    $("#catalogue-add-top").on("click", function() {
      $("#catalogue-add-urls-field").val(JSON.stringify(window.catalogue.top(40)));
      showAddUrlsModal();
    });
    $("#catalogue-add-urls").on("click", function() {
      showAddUrlsModal();
    });
  });
  function showAddUrlsModal() {
    $("#catalogue-add-urls-modal").removeClass('hidden');
    $("#catalogue-add-urls-modal").modal('show');
    $('#catalogue-add-urls-confirm').on('click', function() {
      $('#catalogue-add-urls-confirm').button('loading')
      $('#catalogue-add-urls-forms').submit();
    });
  }