.container-fluid
  .row-fluid
    .span2
      .spacer15
      .row
        .span12
          =render("admin/collections/form" , georges: georges)
          %input#catalogue-search.form-control{placeholder: "Search catalogue by keywords", spellcheck: "false", type: "text", style:"width: #{georges ? '80' : '100'}%"}
          %p#search-info
      .row
        .span6
          %button.btn.btn-info.display-none#catalogue-previous-page
            %i.icon-chevron-left.icon-white
        .span6
          %button.btn.btn-info.display-none#catalogue-next-page
            %i.icon-chevron-right.icon-white
      .spacer5
      .row
        .span6
          %button.btn.btn-success#catalogue-add-shuffle{"data-loading-text" => "..."}
            %i.icon-plus.icon-white
            rnd
        .span6
          %button.btn.btn-success#catalogue-add-top{"data-loading-text" => "..."}
            %i.icon-plus.icon-white
            top
      .spacer5
      .row
        .span6
          %button.btn.btn-success#catalogue-add-urls
            %i.icon-plus.icon-white
            url
        .span6
          %button.btn.btn-success#catalogue-add-custom
            %i.icon-plus.icon-white
            cst
      .spacer10
      .row
        .span12
        %p#tags-merchant
        %p#tags-category
    .span8
      .row
        #catalogue
          - 16.times do |i|
            .span3{style:"margin-left:10px;"}
              .catalogue-box.display-none{id: "catalogue-box-#{i}"}
                .catalogue-product
                  %img.catalogue-img{id: "catalogue-box-img-#{i}"}
                .catalogue-price{id: "catalogue-box-price-#{i}"}
                .catalogue-name{id: "catalogue-box-name-#{i}"}
                .catalogue-merchant{id: "catalogue-box-merchant-#{i}"}
    .span2
      .row-fluid
        #collection-items
          = render @collection.collection_items

:javascript
  $(document).ready(function() {
    monitorCollectionItems();
    window.catalogue = new Catalogue(16, #{@collection.id});
    $("#catalogue-add-shuffle").on("click", function(e) {
      createItemsFromFeed(window.catalogue.shuffle(40), e);
    });
    $("#catalogue-add-top").on("click", function(e) {
      createItemsFromFeed(window.catalogue.top(40), e);
    });
    $("#catalogue-add-urls").on("click", function() {
      showAddUrlsModal();
    });
    $("#catalogue-add-custom").on("click", function() {
      showAddCustomModal();
    });
  });
  function showAddUrlsModal() {
    $("#catalogue-add-urls-modal").removeClass('hidden');
    $("#catalogue-add-urls-modal").modal('show');
    $('#catalogue-add-urls-confirm').on('click', function() {
      $('#catalogue-add-urls-confirm').button('loading')
      $('#catalogue-add-urls-form').submit();
    });
  }
  function createItemsFromFeed(feed, event) {
    $("#" + event.target.id).button('loading');
    $.ajax({
      url: "#{admin_collection_items_path}",
      dataType: "script",
      data: {feed:JSON.stringify(feed), collection_id:#{@collection.id}},
      type: "post",
      error: function() {
        $("#" + event.target.id).button('reset');
      },
      success: function(data) {
        $("#" + event.target.id).button('reset');
      }
    });
  }
  function showAddCustomModal() {
    $("#catalogue-add-custom-modal").removeClass('hidden');
    $("#catalogue-add-custom-modal").modal('show');
    $('#catalogue-add-custom-confirm').on('click', function() {
      $('#catalogue-add-custom-confirm').button('loading')
        feed = {};
        feed["product_url"] = $("#custom-url").val();
        feed["image_url"] = $("#custom-image-url").val();
        feed["name"] = $("#custom-name").val();
        feed["brand"] = $("#custom-brand").val();
        feed["description"] = $("#custom-description").val();
        feed["price"] = $("#custom-price").val();
        feed["price_shipping"] = $("#custom-price-shipping").val();
        feed["shipping_info"] = $("#custom-shipping-info").val();
        feed["saturn"] = "0"
        $.ajax({
          url: "#{admin_collection_items_path}",
          dataType: "script",
          data: {feed:JSON.stringify([feed]), collection_id:#{@collection.id}},
          type: "post",
          error: function() {
            $('#catalogue-add-custom-confirm').button('reset');
            $("#catalogue-add-custom-modal").modal('hide');
          },
          success: function(data) {
            $('#catalogue-add-custom-confirm').button('reset');
            $("#catalogue-add-custom-modal").modal('hide');
          }
        });        
    });
  }