#addressForm
  = simple_form_for @address, wrapper: :compact, remote: true, validate:true, html:{class:'modal-form'} do |f|
    .modal-body
      .row-fluid
        .row
          .span5
            = f.input :first_name, input_html:{'tooltip-position' => 'bottom'}
          .span5
            = f.input :last_name, input_html:{'tooltip-position' => 'bottom'}
        .row
          .span10
            = f.input :address1, autofocus:true
        .row
          .span10
            = f.input :address2
        .row
          .span5
            = f.input :zip
          .span5
            = f.input :city
        .row
          .span5
            = f.association :country, collection: Country.all(order: 'name'), prompt: I18n.t("countries.choose")
          .span5
            = f.input :phone
    
    .modal-footer
      %a{:class => 'btn btn-large', "data-dismiss" => "modal"}
        = I18n.t("app.cancel")
      = f.button :submit, I18n.t("addresses.add"), class:'btn-success btn-large', id:'submit-form', disable_with:I18n.t("app.wait")

