<div class="image-container">
  <%= image_tag @image.picture.url(:original), id:"image-to-crop" %>  
</div>

<div class="crop-form">
  <label for="crop-width">Largeur(px) :</label>
  <span id="crop-width">0</span>
  <label for="crop-height">Hauteur(px) :</label>
  <span id="crop-height">0</span>
  <br/>
  <%= form_for([:admin, @image.becomes(Image)]) do |f| %>
    <%= hidden_field_tag 'coordinates[x]', 0, id: :crop_x %>
    <%= hidden_field_tag 'coordinates[y]', 0, id: :crop_y %>
    <%= hidden_field_tag 'coordinates[x2]', 0, id: :crop_x2 %>
    <%= hidden_field_tag 'coordinates[y2]', 0, id: :crop_y2 %>
    <%= hidden_field_tag 'coordinates[width]', 0, id: :crop_width %>
    <%= hidden_field_tag 'coordinates[height]', 0, id: :crop_height %>
    <%= f.submit "Retailler cette magnifique photo", class:'btn do-crop-submit', :confirm => 'Confirmez le retaillage. Il sera difficile de revenir en arrière.' %>
  <% end %>
</div>
