<%= form_for([:admin, @newsletter]) do |f| %>

  <%= f.label :subject_fr, 'Subject (Français)' %>
  <%= f.text_field :subject_fr %>

  <%= f.label :subject_en, 'Subject (Anglais)' %>
  <%= f.text_field :subject_en %>

  <%= f.label :header_img_url, 'Header image url' %>
  <%= f.text_field :header_img_url %>

  <%= f.label :favorites_ids, 'Ids séparés par des virgules des favoris' %>
  <%= f.text_field :favorites_ids %>

  <%= f.label :footer_img_url, 'Footer image url' %>
  <%= f.text_field :footer_img_url %>

  <%= f.label :look_uuid, 'Look UUID' %>
  <%= f.text_field :look_uuid %>
  
  <br/>
  <%= f.submit "Créer cette newsletter" %>
  
<% end %>

<div class="send-links">
  <%= link_to 'Tester', admin_newsletter_test_path(@newsletter), class:'test-email-link' %>
  <%= link_to 'Envoyer !', admin_newsletter_send_to_subscribers_path(@newsletter), 
      class:'test-email-link', 
      confirm:"/!\\Confirmer l'envoi de la newsletter à tous les utilisateurs" %>
</div>