<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;minimum-scale=1.0; user-scalable=no;">
  <title>Flink</title>
</head>

<body leftmargin="0" topmargin="0" margin marginheight="0">
  <table  border="0" cellpadding="0" cellspacing="0" align="left" width="100%">
    <tr style="width:100%">
      <td style="width:100%;padding-bottom:20px">
        <%= t('app.hello')%> <%= @resource.name || @resource.username %>,
      </td>
    </tr>
    <tr style="width:100%">
      <td style="width:100%;padding-bottom:20px">
        <%= t('app.request_change_password')%>
      </td>
    </tr>
    <tr>
      <td style="width:100%;padding-bottom:20px">
        <% if Rails.env.production? %>
          <%= link_to t('app.change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), style:"color: blue" %>
        <% else %>
          <%= link_to t('app.change_password'), "", style:"color:blue;" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="width:100%;padding-bottom:20px">
        See you soon on Flink!
      </td>
    </tr>
    <tr>
      <td style="width:100%;padding-bottom:20px">
        Best regards,
      </td>
    </tr>
    <tr>
      <td style="width:100%;padding-bottom:20px">
        Flink team
      </td>
    </tr>
  </table>
</body>
</html>
