%section.header
  %header
    %h1 User #{@user.name}
    %h2 
      = @user.email

.container-fluid
  .row-fluid
    - @stats.each do |stat|
      = render "widgets/number_box", stat:stat
  .row-fluid
    .span3
      %article.coolbox
        %h3 Informations
        %strong First name :
        = @user.first_name
        %br
        %strong Last name :
        = @user.last_name
        %br
        %strong Birthdate :
        = @user.birthdate
        %br
        %strong Civility :
        = @user.civility
        %br
        %strong Nationality :
        = @user.nationality.try(:name)
        %hr
        %strong Developer :
        = @user.developer.name
        %br
        %strong Tracker :
        = @user.tracker
        %hr
        %strong Created at :
        = @user.created_at
        %br
        %strong Last sign in at :
        = @user.last_sign_in_at
        %br
        %strong Sign in count :
        = @user.sign_in_count
        %br
        %strong IP address :
        = @user.ip_address
      %article.coolbox
        %h3 Addresses
        = render @user.addresses
      %article.coolbox
        %h3 Payment cards
        = render @user.payment_cards
      %article.coolbox
        %h3 Merchant accounts
        = render @user.merchant_accounts
      %br
    .span9
      %article.coolbox
        %h3 Orders
        %table.table.table-striped#orders
          %thead
            %tr
              %th State
              %th Product
              %th Merchant
              %th Price
              %th Updated_at
              %th Message
              %th Error
          %tbody
            - @user.orders.order("created_at desc").each do |order|
              - product = order.order_items.first.product
              %tr
                %td
                  = raw(order_state_to_html(order.state_name))
                %td
                  = product.try(:name)
                %td
                  = product.merchant.name unless product.nil?
                %td 
                  = number_to_currency(order.state == :completed ? order.billed_price_total : order.expected_price_total)
                %td
                  = time_ago_in_words(order.updated_at)
                %td
                  = order.message
                %td
                  = order.error_code
      %article.coolbox
        %h3 Events
        %table.table.table-striped#events{data:{source:"#{admin_user_url(@user, format: 'json')}"}}
          %thead
            %tr
              %th Type
              %th Tracker
              %th Product
              %th Date
