- @devices = Device.where(pending_answer:true)
- @devices_history = Message.joins(:device).order("messages.created_at desc").limit(100).map(&:device).uniq.first(20) - @devices
#chat-list-users-header
  Waiting for answer
- @devices.each do |device|
  = link_to admin_georges_device_messages_path(device), :remote => true do
    .user-row
      - if device.user
        #{device.user.first_name} #{device.user.last_name}
      - else
        #{device.id}
#chat-list-history-header
  Last conversations
- @devices_history.each do |device|
  = link_to admin_georges_device_messages_path(device), :remote => true do
    .user-row
      - if device.user
        #{device.user.first_name} #{device.user.last_name}
      - else
        #{device.id}
