- @devices = Device.where(pending_answer:true).order("updated_at desc")
- @devices_history = Message.joins(:device).order("messages.created_at desc").limit(500).map(&:device).uniq.first(100) - @devices
#chat-list-status
  %select.input-medium#georges-status
    - GeorgesStatus::STATUSES.each do |status|
      %option{value:status, selected:status == GeorgesStatus.get}= status
#chat-list-users-header
  Waiting for answer
- @devices.each do |device|
  = link_to admin_georges_device_messages_path(device), :remote => true do
    .user-row
      - if device.user
        #{device.user.first_name} #{device.user.last_name}
      - else
        #{device.id}
#chat-list-history-header
  Last conversations
- @devices_history.each do |device|
  = link_to admin_georges_device_messages_path(device), :remote => true do
    .user-row
      - if device.user
        #{device.user.first_name} #{device.user.last_name}
      - else
        #{device.id}
