.container-fluid#live-traces
  = render @device.traces.order("created_at desc").limit(100)

:javascript
  if (window.channels["device-#{@device.id}"] === undefined) {
    window.channels["device-#{@device.id}"] = window.pusher.subscribe("device-#{@device.id}");
    window.channels["device-#{@device.id}"].bind("trace", function(data) {
      $.ajax({
        url: "/admin/georges/traces/" + data["id"],
        dataType: "script"
      });      
    });
  }
