<%= image_tag 'admin/love.png', class:'heart-overlay', id:'heart-overlay'%>
<%= will_paginate @blogs %>
<table class="blogs-table">
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><img src="<%= blog.avatar_url || "/assets/admin/girl_head.jpg" %>" class="avatar"></img></td>
        <td class="name"><%= blog.name %></td>
        <td><%= link_to blog.url, blog.url %></td>
        <td><%= country_flag_image(blog.country) %></td>
        <td>
          <% unless blog.scraped? %>
            <%= button_tag "Intégrer", :title => "Intégrer ce blog", class:'btn btn-success rounded-btn', id:"integrate-blog-#{blog.id}", 'data-id' => blog.id do %>
            <i class="icon-ok-circle icon-white"></i>
            <% end  %>
          <% end %>  
        </td>
        <td>
          <% unless blog.skipped? %>
            <%= button_tag "Skip", :title => "Ne pas intégrer ce blog", class:'btn btn-warning rounded-btn', id:"skip-blog-#{blog.id}", 'data-id' => blog.id do %>
            <i class="icon-ban-circle icon-white"></i>
            <% end  %>
          <% end %>
        </td>
        <td>
          <% if blog.scraped? %>
            <%= button_tag "Voir les articles", :title => "Voir les articles", class:'btn rounded-btn', id:"blog-posts-#{blog.id}", 'data-id' => blog.id do %>
            <i class="icon-eye-open icon-black"></i>
            <% end  %>
          <% end %>
        </td>
        <td>
          <% if blog.can_comment? %>
          <span class="can-comment" title="Des commentaires peuvent être postés sur ce blog">
            <i class="icon-comment icon-white"></i>
          </span>
          <% end %>
        </td>
        <td>
          <span class="tag posts-count-tag" title="Nombre de posts">
            <i><%= blog.posts.count %></i>
          </span>
        </td>
        <td>
          <span class="tag looks-count-tag" title="Nombre de looks publiés">
            <i><%= Look.published_of_blog(blog).count %></i>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @blogs %>