<div class="coolbox blogs">
  <!-- A Mettre en Overlay -->
  <!-- <div>
    <h5>Créer un nouveau blog</h5>
    <%= form_for([:admin, Blog.new]) do |f| %>
      <%= f.text_field :name, placeholder:"nom du blog"%>
      <%= f.text_field :url, placeholder:"url du blog"%>
      <%= f.submit("Intégrer", :class => 'btn') %>
    <% end %>
  </div> -->

  <div class="radio-filters">
    <input type='radio' name='scope' value='scraped' checked=checked>
      <span>Scrapés</span>
      <span>(<%= Blog.scraped.count %>)</span>
    </input>
    <input type='radio' name='scope' value='scraped.without_posts'>
      <span>Sans articles</span>
      <span>(<%= Blog.scraped.without_posts.count %>)</span>
    </input>
    <input type='radio' name='scope' value='not_scraped'>
      <span>A intégrer</span>
      <span>(<%= Blog.not_scraped.count %>)</span>
    </input>
    <input type='radio' name='scope' value='skipped'>
      <span>Non intégrés</span>
      <span>(<%= Blog.skipped.count %>)</span>
    </input>
    <input id="name-filer"></input>
    <%= button_tag "Filtre", class:'btn', id:"filter" do %>
      <span>Rechercher</span>
    <% end  %>
  </div>
  
  <div id="blogs-list">
    <%= render 'index'%>
  </div>
  
</div>
