<section class="header">
  <header>
    <h1>Blogs</h1>
    <h2><%= Blog.scraped.count %> blogs scrapés</h2>
  </header>
</section>
<div class="coolbox blogs">
  <h3><%= Blog.count %><span>&nbsp;Blogs</span></h3>
  <a href="#" id="create-blog-link">Créer un blog</a>
  <div id="create-blog-block" class="create-blog-block-hidden">
    <%= form_for([:admin, Blog.new]) do |f| %>
      <%= f.text_field :name, placeholder:"Nom du blog"%>
      <%= f.text_field :url, placeholder:"URL du blog"%>
      <%= f.text_field :username, placeholder:"Username"%>
      <%= f.text_field :flinker_id, placeholder:"Flinker ID (optionnel)"%>
      <%= f.submit("Intégrer", :class => 'btn btn-success ') %>
    <% end %>
  </div>

  <div class="radio-filters">
      <input type='radio' name='scope' value='scraped' checked=checked>
      <span>Scrapés</span>
      <span>(<%= Blog.scraped.count %>)</span>
      <input type='radio' name='scope' value='scraped.recent'>
      <span>Intégrés récemment</span>
      <span>(<%= Blog.recent.count %>)</span>
      <input type='radio' name='scope' value='scraped.without_posts_since_one_month'>
      <span>Sans articles depuis 1 mois</span>
      <span>(<%= Blog.scraped.without_posts_since_one_month.count %>)</span>
      <input type='radio' name='scope' value='scraped.without_look_published'>
      <span>Sans look publié</span>
      <span>(<%= Blog.without_look_published.count %>)</span>
      <input type='radio' name='scope' value='skipped'>
      <span>Non intégrés</span>
      <span>(<%= Blog.skipped.count %>)</span>
      <br/>
    <input id="name-filer-pattern" type="search">
    <%= button_tag "Filtre", class:'btn rounded-btn', id:"name-filter" do %>
      <i class="icon-search icon-red"></i>
    <% end  %>
    <%= select_tag :country, options_for_select(countries_for_select, selected:params[:country_code]) %>
  </div>
  
  <div id="blogs-list">
    <%= render 'index'%>
  </div>
  
</div>
