<div class="coolbox blogs">
  <div >
    <%= label_tag 'select-blog-url', "Choisir un blog" %>
    <%= select_tag 'select-blog-url', options_from_collection_for_select(@blogs, :id, :url), :prompt => "" %>  
  </div>

  <div>
    <h5>Créer un nouveau blog</h5>
    <%= form_for([:admin, Blog.new]) do |f| %>
      <%= f.text_field :name, placeholder:"nom du blog"%>
      <%= f.text_field :url, placeholder:"url du blog"%>
      <%= f.submit("Intégrer", :class => 'btn') %>
    <% end %>
  </div>
  
  <div>
    <h5>Intégrer un fichier CSV de flux</h5>
    
    <%= form_for([:admin, Blog.new]) do |f| %>
      <%= f.file_field :csv %>
      <%= f.submit("Intégrer ces flux", :class => 'btn') %>
    <% end %>
  </div>
  
</div>
