<div class="coolbox blogs">
  <h3><%= Blog.count %><span>&nbsp;Blogs</span></h3>
  <a href="#" id="create-blog-link">Créer un blog</a>
  <div id="create-blog-block" class="create-blog-block-hidden">
    <%= form_for([:admin, Blog.new]) do |f| %>
      <%= f.text_field :name, placeholder:"nom du blog"%>
      <%= f.text_field :url, placeholder:"url du blog"%>
      <%= f.submit("Intégrer", :class => 'btn btn-success ') %>
    <% end %>
  </div>

  <div class="radio-filters">
    <input type='radio' name='scope' value='scraped' checked=checked>
      <span>Scrapés</span>
      <span>(<%= Blog.scraped.count %>)</span>
      <input type='radio' name='scope' value='scraped.without_posts'>
      <span>Sans articles</span>
      <span>(<%= Blog.scraped.without_posts.count %>)</span>
      <input type='radio' name='scope' value='not_scraped.not_skipped'>
      <span>A intégrer</span>
      <span>(<%= Blog.not_scraped.not_skipped.count %>)</span>
      <input type='radio' name='scope' value='skipped'>
      <span>Non intégrés</span>
      <span>(<%= Blog.skipped.count %>)</span>
      <br/>
    <input id="name-filer-pattern" type="search">
    <%= button_tag "Filtre", class:'btn rounded-btn', id:"name-filter" do %>
      <i class="icon-search icon-red"></i>
    <% end  %>
    
  </div>
  
  <div id="blogs-list">
    <%= render 'index'%>
  </div>
  
</div>
