<%= link_to "Retour à l'index", admin_blogs_url, class:'back-link' %>
<%= link_to "Récupérer les nouveaux articles", admin_blog_url(@blog, :fetch => true), class:"btn fetch-post-link" %>

<div class="coolbox blogs-posts-header">
  <a href="#" id="update-blog-link">Mettre à jour</a>
  <p><%= @blog.name %></p>
  <img src="<%= @blog.avatar_url || "/assets/admin/girl_head.jpg"%>" class="blog-posts-avatar"></img>
  <%= link_to @blog.url, @blog.url %>
  <div id="update-blog-block" class="update-blog-block-hidden">
    <%= form_for [:admin, @blog] do |f| %>
      <%= f.label :avatar_url, "Url de l'avatar" %>
      <%= f.text_field :avatar_url %>
      <%= f.label :name, "Nom du blog" %>
      <%= f.text_field :name %>
      <%= f.submit("Mettre à jour", :class => 'btn btn-success ') %>
    <% end  %>
  </div>
</div>

<div class="coolbox blog-post posts-outline">
  <table>
    <% @blog.posts.each_with_index do |post, index| %>
      <tr>
        <td>
          <span class="tag has-look-tag-<%= post.look.present? %>">L</span>
          <span class="tag has-look-published-tag-<%= post.look.present? && post.look.is_published? %>">P</span>
        </td>
        <td>
          <%= link_to "#{post.title} (#{l(post.published_at)})", "#post-#{index}" %>
        </td>
        <td>
          <%= link_to 'Voir le look', admin_look_path(post.look) if post.look %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% @blog.posts.each_with_index do |post, index| %>
  <div class="blog-post coolbox" id="post-<%= index%>">
    <div class="tags">
      <span class="tag has-look-tag-<%= post.look.present? %>">L</span>
      <span class="tag has-look-published-tag-<%= post.look.present? && post.look.is_published? %>">P</span>
    </div>
    
    <h5>
      Intitulé
    </h5>
      <span><%= post.title %></span>
    <h5>Date</h5>
      <span><%= post.published_at %></span>
    <h5>Auteur</h5>
      <span><%= post.author %></span>
    <h5>Lien vers l'article</h5>
      <span><%= link_to post.link, post.link, target: :blank %></span>
    <h5>Contenu</h5>
      <p><%= post.description %></p>
      <p><%= post.content.html_safe %></p>
    <h5>Images</h5>
      <ul>
        <% post.images.each do |link| %>
         <li><%= link_to link, link, target: :blank %></li>
        <% end %>
      </ul>
    <h5>Produits</h5>
    <ul>
      <% post.products.each do |product| %>
      <li>
        <% product = product.to_a.flatten  %>
        <span class="product-name"><%= product[0] %></span>
        <span><%= link_to product[1], product[1], target: :blank %></span>
      </li>
      <% end %>
    </ul>
    <h5>Catégories</h5>
    <ul>
      <% post.categories.each do |name| %>
       <li><%= name %></li>
      <% end %>
    </ul>
  </div>
<% end %>