<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= content_for?(:title) ? "Flink | #{yield(:title)}" : "Flink" %></title>
  <%= render 'layouts/flink_meta_tags.html'%>
  <%= yield :keywords %>
  <%= favicon_link_tag %>
  <%= render 'layouts/ie_support.html'%>
  <%= stylesheet_link_tag "flink/application#{device_suffix}.css" %>
  <%= stylesheet_link_tag "#{params[:controller]}#{device_suffix}.css" %>
  <%= javascript_include_tag "flink/application#{device_suffix}.js" %>
  <%= javascript_include_tag "#{params[:controller]}#{device_suffix}.js" %>
  <%=  yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= render 'flink/flink_ga.html'%>
</body>
</html>