%footer
  .container
    %ul.list-inline.pull-left.links
      %li= link_to "Sécurité", "/security"
      %li= link_to "Aide", "http://support.shopelia.com/hc", target: "_blank"
      %li= link_to "CGU", '/cgu'
      -#%li= link_to "Mentions légales"
    %ul.list-inline.pull-right
      %li= link_to(image_tag("twitter-icon.png"),"https://twitter.com/shopelia")
      %li= link_to(image_tag("facebook-icon.png"),"http://www.facebook.com/Shopelia")
      %li= link_to(image_tag("email-icon.png"),"http://support.shopelia.com/hc/requests/new", target: "_blank")



