<!doctype html>
<html>
<head>
  <title>Shopelia Admin</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "admin/application", params[:controller] %>
  <%= javascript_include_tag "admin/application", params[:controller] %>
  <%= yield :head %>
</head>

<body>
 <div class="container-fluid top">
   <div class="row-fluid">
     <div class="span2">
       <div class="well" id="nav-well">
       <ul class="nav nav-list">
         <li class="nav-header">Admin Shopelia</li>
         <li><%= link_to("Users",admin_users_path) %></li>
         <li><%= link_to("Orders",admin_orders_path) %></li>
       </ul>
       </div>
     </div>
     <div class="span10">
       <%= yield %>
     </div>
   </div>
 </div>
</body>
</html>
