
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title || "Admin Shopelia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "admin/application", params[:controller] %>
    <%= yield :head %>
    <%= javascript_include_tag "admin/application", params[:controller] %>
    <%= csrf_meta_tag %>

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .logo-navbar{
        width:40px;
        height:auto;
      }
      

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
  </head>

  <body class="action-<%= "#{params[:action]}" %>">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/admin">
            <img class="logo-navbar" src="/images/diamond.png">
          </a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <ul>
              <li class="navbar-text pull-right"><%= link_to(raw("Incidents" + incidents_count), admin_incidents_path, id:"incidentsMenu") %></li>
            </ul>
            </p>
            <ul class="nav">
              <li><%= link_to("Blogs", admin_blogs_path) %></li>
              <li><%= link_to(raw("Posts" + posts_count), admin_posts_path, id:"postsMenu") %></li>
              <% if (count = Look.for_publication.count) > 0 %>
                <li><%= link_to("Prepublications (#{count})", admin_look_path(Look.next_for_publication.first)) %></li>
              <% end %>
              <li><%= link_to("Flinkers", admin_flinkers_path) %></li>
              <li><%= link_to("Collections", admin_themes_path) %></li>
              <li><%= link_to("Staff Picks", admin_staff_picks_path) %></li>
              <li><%= link_to("Comments (#{Comment.admin_unread.count})", admin_comments_path) %></li>
              <li><%= link_to("Statistics", admin_statistics_path) %></li>
              <li><%= link_to("Looks Search", admin_search_looks_path) %></li>
              <li><%= link_to("News Letter", new_admin_newsletter_path) %></li>
              <li><%= link_to("Merge Flinkers", new_admin_flinker_merge_path) %></li>
              <li><%= link_to("Notifications", new_admin_apns_notification_path) %></li>
              <li><%= link_to("Hashtags", admin_staff_hashtags_path) %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <%= render partial: "widgets/flash_messages", flash: flash %> 

    <%= yield %>

  </body>
</html>