!!!
%html
  %head
    %title Shopelia
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %meta{ name:"viewport",content:"width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"}
    = csrf_meta_tags

  %body
    .container
      - flash.each do |name, msg|
        .alert{:class => "alert-#{name == :notice ? "success" : "error"} fade in"}
          %a{:class =>"close", :'data-dismiss' => "alert"} &#215;
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      .visible-phone.phone-margin
        = image_tag("logo_shopelia.png")
      = yield

