<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <%= stylesheet_link_tag "application", params[:controller] unless params[:controller] == 'application' %>
    <%= javascript_include_tag "application", params[:controller] unless params[:controller] == 'application' %>
    <%= yield :head %>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><img class="logo-navbar" src="/images/shopelia25.png"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<%= @navbar['home'] %>"><a href="#">Home</a></li>
              <li class="<%= @navbar['about'] %>"><a href="#">About</a></li>
              <li class="<%= @navbar['contact'] %>"><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="nav-collapse collapse pull-right">
            <%= render "widgets/connect" %>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="mainContent">
      <%= yield %>
    </div>

  </body>
</html>
