!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no", name: "viewport"}/
    = stylesheet_link_tag "developers/application"
    = javascript_include_tag "developers/application", params[:controller] unless params[:controller] == 'developers'
    = yield :head
    %title= @title || "Shopelia for developers"

  %body{class: "action-#{params[:action]}"}
    #wrap
      = render "developers/widgets/navbar"
      .container
        = bootstrap_flash
      = yield
    = render "developers/widgets/footer"