!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no", name: "viewport"}/
    = stylesheet_link_tag "flink/application"
    = javascript_include_tag "flink/application"
    <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>
    = yield :head
    %title= @title || "Flink"


  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=735090113186174";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #wrap
      .container
        = yield
